// =============================================================================
// Custom properties (variables) the standard grid, gaps and page gutters.
// Mainly used by the layout utility classes, and also to make things full-bleed
// or have things be offset by a standard gap's width to align with a gap instead
// of a column (edge case, but sometimes needed).
// =============================================================================

:root {
  --standard-cols: 12;
  --standard-gap: 16px;
  --page-gutter: 16px;
  --content-max-width: #{px2rem(1770)};
  --streamfield-space-sm: 24px;
  --streamfield-space-lg: 56px;
  --content-outdent: 0px; // px unit present so calc()s don't break

  @include sm {
    --standard-gap: 24px;
    --page-gutter: 32px;
  }
  @include md {
    --page-gutter: 80px;
    --streamfield-space-lg: 80px;
    --content-outdent: 72px;
  }
  @include lg {
    --standard-gap: 32px;
    --streamfield-space-lg: 104px;
  }
  @include xl {
    --standard-gap: 48px;
    --page-gutter: 64px;
    --content-outdent: 104px;
  }
  @include xxl {
    --content-outdent: 128px;
  }
}
