:root {
  --color-black: black;
  --color-white: white;

  // TODO remove/comment-out any unused at the end of build

  // Brand
  --color-brand-5: #f5feff;
  --color-brand-10: #dffcff;
  --color-brand-20: #caf9fd;
  --color-brand-40: #a8f9ff;
  --color-brand-60: #83f6ff;
  --color-brand-80: #51f3ff;
  --color-brand-100: #00edff;
  --color-brand-110: #04cad9;
  --color-brand-120: #1fa4ae;

  // Secondary
  --color-forest-80: #9dc359;
  --color-forest-100: #85b42f;
  --color-orange-60: #fea571;
  --color-orange-100: #e34f26;
  --color-red-100: #ed0000;

  --color-grey-5: #f2f2f2;
  --color-grey-10: #e6e6e6;
  --color-grey-20: #ccc;
  --color-grey-40: #999;
  --color-grey-60: #666;
  --color-grey-80: #575757;
  --color-grey-100: #414042;
  --color-grey-110: #222;

  --color-text: var(--color-grey-100);
  --color-link-text: currentColor;
  --color-link-underline: var(--color-brand-100);
  --color-link-text-hover: var(--color-brand-110);
}
