html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  margin-top: $header-nav-height;  /* clear the nav */
  padding: 0;
  padding-top: $header-nav-height; /* add padding below the nav */
}

