/*
disable list style reset by default
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}*/

@mixin list-style-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

dl {
  margin: 0;
}

dt {
  font-weight: bold;
  margin: 0;
}

dd {
  margin: 0;
}

// search result list
.results ol {
  list-style: none;
  margin: 0;
  padding: 30px 0;

  li + li {
    border-top: 0.5px solid $dark-grey;
    border-top-width: 90%;
  }
}

// result count
.total-results {
  font-family: $font-stack-headline;
  font-style: italic;
  text-align: center;
  font-size: 16px;
  padding: 30px 0;
  margin: 0;
  color: $dark-grey;
}

// search results
.results li {
  padding-left: 50px;
  position: relative;

  // spacing
  > * {
    margin: 8px 0 0 0;
  }

  // titles
  h2 {
    font-family: $font-stack-headline-bold;
    font-size: 20px;
    padding: 8px 0;

    a {
      color: inherit;
      text-decoration-color: $cdh-blue;
      text-decoration-thickness: 2px;
      text-underline-offset: 8px;
    }

    &::before {
      @include cdh-icon("doc");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 65%;
      content: "";
      position: absolute;
      left: 0;
      width: 42px;
      height: 34px;
    }
  }

  // icons
  @each $icon in $cdh-icons {
    &.#{$icon} h2::before {
      @include cdh-icon($icon);
    }
  }

  // metadata
  .lastmod {
    font-family: $font-stack-headline;
    color: $dark-grey;
    font-size: 16px;
    padding-bottom: 12px;
    margin-bottom: 8px;
  }
}
