figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

iframe {
  width: 100%;
  border: none;
  min-height: 250px;
  @media (min-width: $medium-min-width) { min-height: 400px; }
}

/* override styles for codeblock; 
  important required to override prism.js styles */
/* extend to full grid width. (1fr + grid gutter on each side) */
.code-toolbar {
  /* content is full width on smaller grid */

  @media (min-width: $medium-min-width) {  
    /* larger grid: 9 columns; 1/9 = 11% */
      margin-left: calc(-11% - 30px) !important;  
      margin-right: calc(-11% - 30px) !important;        
  }

  @media (min-width: $large-min-width) {
    /* larger grid: 12 columns; 1/12 = 8% */
      margin-left: calc(-8% - 30px) !important;  
      margin-right: calc(-8% - 30px) !important;        
  }  
}

/* adjust font sizes for larger code font */
code[class*="language-"], pre[class*="language-"] {
  font-size: 14px !important; /* default p size is 16px */

  @media (min-width: $medium-min-width) {
    font-size: 16px !important;  /* default p size is 20px */
  }

}