figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

iframe {
  width: 100%;
  border: none;
  min-height: 250px;
  @media (min-width: $medium-min-width) { min-height: 400px; }
}