@mixin cdh-icon($name) {
	background-image: url('../img/cdh-icons/#{$name}.svg');
}

@mixin content-page {
	/* for blog posts and text content pages */
	padding: 0;
	margin-bottom: 50px;
	
	@media (min-width: $medium-min-width) {
		@include grid-push(1);
		@include grid-column(7);
	}
	
	@media (min-width: $large-min-width) {
		@include grid-push(2);
		@include grid-column(8);
	}
	
	/* images smaller than content width should be centered */
	img, picture {
		display: block;
		margin: 50px auto;
	}
	
	figcaption {
		margin-top: 20px;
	}
	
	figure {
		margin-bottom: 50px;
		img {
			margin-bottom: 0;
		}
	}
	
	h2 {
		margin-top: 50px;
	}
	
}

/* mixin for diagonal blue stripes background */
@mixin diagonal-blue-stripes {
	background: repeating-linear-gradient(
	45deg,
	white,
	white 16px,
	var(--highlight-color) 4px,
	var(--highlight-color) 20px
	);
}

@mixin dark-blue-gradient {
	/* fallback background gradient for pages without an image */
	background: $dark-cdh-blue; /* For browsers that do not support gradients */
	background: linear-gradient($dark-cdh-blue, transparent);
}

@mixin large-card {
	max-width: 310px;
	@media (min-width: $medium-min-width) {
		@include grid-column(4);
		max-width: none;
	}
}

@mixin small-card {
	max-width: 225px;
	@media (min-width: $medium-min-width) {
		@include grid-column(3);
		max-width: none;
	}
}

/* small label with cdh shadow; used for event card event type and elsewhere */
@mixin cdh-shadow-label {
	border: 2px solid var(--highlight-color);
	box-shadow: 5px 5px 0px var(--highlight-color);
	background-color: white;
	color: black;
	font-family: $font-stack-headline-bold;
	font-size: 12px;
	padding: 1px 5px;
}

/* Custom mixin to generate css triangles at top left and bottom right
to mimic the look of the cdh logo.  Argument is logo shadow width */
@mixin cdhlogo-shadow($width) {
	/* NOTE: might be able to use bourbon triangle mixin here, but this is working */
	
	/* triangle top right */
	&::after {
		width: 0;
		height: 0;
		border-top: $width solid $light-grey;
		border-left: $width solid transparent;
		content: ' ';
		position: absolute;
		right: 0;
		top: 0;
	}
	
	/* triangle bottom left */
	&::before {
		width: 0;
		height: 0;
		border-bottom: $width solid $light-grey;
		border-right: $width solid transparent;
		content: ' ';
		position: absolute;
		left: 0;
		bottom: 0;
		
	}
}

@mixin header-with-icon {
	/* font-family: BrownStd-Alt;    ?? */
	font-family: $font-stack-headline;
	font-size: 16px;
	font-style: normal;
	font-stretch: normal;
	font-weight: normal;
	line-height: 54px;
	letter-spacing: normal;
	color: $dark-grey;
	
	height: 54px;
	padding-left: 73px;
	vertical-align: middle;
	margin-bottom: 50px;
	
	background-repeat: no-repeat;
	background-size: 50px 54px;
}