/* header and footer styles */
@import "variables";

// skip links
.skip-links {
    width: 100%;
    position: absolute;
    top: -$header-nav-height;
    z-index: 11;
    list-style-type: none;
    margin: 0;

    a {
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        background: rgba(255, 255, 255, 0.9);
        text-decoration: none;
        font-family: $font-stack-headline;
        color: $black;

        &:focus,
        &:hover {
            top: $header-nav-height;
            box-shadow: 3px 3px 5px $dark-grey;
        }
    }
}

header.nav {
    height: $header-nav-height;
    width: 100%;
    position: fixed;
    text-align: center;
    left: 0;
    top: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transition: margin-top 0.25s;

    @media (max-width: $small-max-width) {
        height: 50px;

    }

    z-index: 10;
    &.hidden {
        margin-top: -90px;
    }

     a {
        color: #000000;
        text-decoration: none;
        &:focus,
        &:hover,
        &:visited {
            text-decoration: none;
            color: #000000;
        }

        &[aria-current=page] {
            border-bottom: 4px;
            border-bottom-color: var(--highlight-color);
            border-bottom-style: solid;
        }

        @media (max-width: $small-max-width) {
            padding-bottom: 0;
        }
    }

    .mobile-nav  {
        display: none;
        @media (max-width: $small-max-width) {
            padding-top: 10px;
            padding-bottom: 10px;
            display: block;
            width: 84%;  // TODO: make this a variable
            text-align: left;
            left: 0;
        }
        a {
          color: $black;
        }

    }
    #mainmenu {
        max-width: 1440px;  /* cancel 84% max-width */
        justify-content: space-around;

        @media (max-width: $small-max-width) {
            background-color: white;
            width: 100%;
            padding: 5px 8%;
            border-bottom: 1px solid $dark-grey;
        }
    }

    .nav-wrap {
        background-color: rgba(255, 255, 255, 0.95);
    }

    nav {
        @extend .responsive-container;
        padding: 10px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        a.home-page {
            width: 60px;
            height: 45px;
            margin-left: 10px;

            img {
                width: 60px;
                height: 45px;
                max-width: none;
            }

        }
        @media (max-width: $small-max-width) {
            display: none;
            text-align: left;
            max-width: 100%;
        }

        a.search {
            width: 45px;
            height: 45px;
            background-image: url("/static/img/cdh-icons/search.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 80%;
            margin-right: 10px;
        }
    }

    div.nav-main {
        display: flex;
        flex-direction: column;
        flex: auto;
        padding: 0;
        position: relative;
        max-width: $large-content-width;

        ul {
            display: flex;
            flex: auto;
            justify-content: space-between;
            padding: 0;
            width: 100%;
            // Make sure margins behave for spacing between rows (~28 px)

            @media (max-width: $small-max-width) {
                height: auto;
                display: block;
                flex: none;
            }

            &.primary-nav {
                align-items: center;
                margin: 0;
                height: auto;
                > li {
                    flex: auto;
                    @media (max-width: $small-max-width) {
                        margin-bottom: 5px;
                    }
                }

                > li > a {
                    /* only uppercase for primary nav, not secondary */
                    text-transform: uppercase;
                    font-family: $font-stack-headline-bold;
                    color: #000000;
                    padding: 15px 0 11px;
                }
            }

            li {
                display: inline;
                font-size: 16px;
                @media (max-width: $small-max-width) {
                    display: block;
                }

            }

            &.secondary-nav {
                margin-top: 0;
                font-family: $font-stack-headline;
                display: none;
                height: auto;
                position: absolute;
                top: 30px;
                left: 0;
                padding-top: 7px;

                &.active {
                    display: block;
                }
            }
        }
    }

    div.nav-card { // secondary and tertiary navigation cards
        @extend .responsive-container;
        width: 100%;
        display: none;
        top: 55px;

        .inner {
            border-top: solid 1px #d8d8d8;
        }

        .secondary-nav,
        .tertiary-nav {
            list-style: none;
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;

            li {
                font-family: $font-stack-headline;
                font-size: 14px;
                text-align: left;
            }
        }

        .secondary-nav {
            padding-top: 25px;
            padding-bottom: 10px;

            @media (min-width: $large-min-width) {
                flex-direction: row;
                flex-wrap: wrap;
            }

            > li {
                flex: none;
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }

                @media (min-width: $large-min-width) {
                    margin-right: 30px;
                    margin-bottom: 0;
                }
            }
        }

        .tertiary-nav {
            flex: auto;

            @media (min-width: $large-min-width) {
                margin-top: 10px;
            }

            a {
                color: $dark-grey;
            }
        }
    }
    
    .nav-main ul,
    .nav-card ul {
        /* add indicator for section of menu being viewed */
        a:hover {
            border-bottom: 4px;
            border-bottom-color: var(--highlight-color);
            border-bottom-style: solid;
        }
    }
}


footer {
    padding-top: 100px;
    @extend .responsive-container;

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        list-style-type: none;
        display: block;
    }

    @media (max-width: $small-max-width) {
        /* styles for footer as toggable mobile nav menu */
        &.mobile-nav {
            position: fixed;
            padding-top: $small-header-nav-height;
            top: 0;
            bottom: 0;
            background-color: white;
            width: 100%;
            max-width: 100%;
            z-index: 5;
            overflow: auto;

            border-bottom: 1px solid #d8d8d8;

            section.contact, section.footer-menu {
                width: 84%;
                margin: auto;
            }

            /* don't show subscribe when footer is used as mobile nav */
            section.subscribe {
                display: none;
            }

        }
    }

    section.contact {
        position: relative;
        border-top: 0;
        height: auto;
        padding-top: 70px;
        margin-bottom: 30px;

        font-family: $font-stack-headline;
        font-size: 12px;
        color: $dark-grey;

        .cdh-info {
            display: flex;
            justify-content: space-between
        }

        .pu-info {
            display: flex;
            flex-direction: column;
            margin-top: 20px;

            @media (min-width: $medium-min-width) {
                flex-direction: row;
                flex-wrap: wrap;
            }
        }

        .social {
            min-width: 75px;
        }

        .pulogo {
            
            @media (max-width: $medium-max-width) {
                width: 100%;
            }

            img {
                width: 316px;

                @media (max-width: $small-max-width) {
                    width: 265px;
                }
            }

            @media (max-width: $medium-max-width) {
                margin-bottom: 1rem;
            }
        }

        .a11y {
            margin-left: 1rem;

            @media (max-width: $small-max-width) {
                margin-left: 0;
            }
        }

        .copyright {
            @media (min-width: $large-min-width) {
                margin-left: 1rem;
            }
        }

        .sw-version {
            margin-left: auto;
        }
    }

     a {
        color: $dark-grey;
        text-decoration: none;
        &:focus,
        &:hover,
        &:visited {
            text-decoration: none;
            color: $dark-grey;
        }
        span.fa {
            font-size: 20px;
            height: 20px;
            width: 20px;
        }
    }

    section.subscribe {
        background: white;
        color: $dark-grey;
        font-family: $font-stack-headline;
        font-size: 16px;
        padding:  45px 30px 55px;
        margin-bottom: 100px;

        form {

            /* display email icon at left and indent content past it */
            background-image: url('../img/cdh-icons/email.svg');
            background-size: 54px 54px;
            background-repeat: no-repeat;
            display: flex;
            align-items: baseline;

            @media (max-width: $small-max-width) {
                align-items: center;
                flex-direction: column;
            }

            /* clear the email icon with padding */
            :first-child {
                margin-left: 54px + 20px;
            }

            label, input {
                font-family: $font-stack-headline;
                font-weight: normal;
            }

            > * {
                display: inline-block;
                margin-right: 10px;
            }


            input[type='email'] {
                width: 500px;
                /* match submit button (FIXME: still doesn't quite match) */
                padding: $small-spacing $base-spacing;

                // set placeholder text color
                ::placeholder,  /* Chrome, Firefox, Opera, Safari 10.1+ */
                :-ms-input-placeholder, /* Internet Explorer 10-11 */
                ::-ms-input-placeholder { /* Microsoft Edge */
                    color: #878787;
                    opacity: 1; /* Firefox */
                    font-weight: normal;
                    font-size: 16px;
                }
            }

            input[type='submit'] {
                background-color: white;
                border: 2px solid black;
                font-family: $font-stack-headline-bold;
                padding: 0.85em 1.5em;
            }

            @media (max-width: $medium-max-width) {
                label {
                    display: block;
                    min-height: 54px;
                    // line-height: 54px; /* center with email icon */
                }

                input[type='email'] {
                    width: 450px;
                }
            }

            @media (max-width: $small-max-width) {
                label {
                    line-height: $base-line-height;
                }

                input[type='email'] {
                    width: 100%;
                }
                input {
                    display: block;
                }

            }


        }

    }


    section.footer-menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

        @media (max-width: $small-max-width) {
            display: block;
        }

        min-height: 175px;
        width: 100%;
        border-top: 1px;
        border-top-style: solid;
        border-top-color: #d8d8d8;
        padding-top: 20px;


        @media (max-width: $small-max-width) {
            height: auto;
            padding-top: 0;
        }


        ul {

            @media (max-width: $small-max-width) {
                width: 100%;
                height: auto;
                padding: 0;
                margin: 0;
            }

            &> li {
                display: block;
                max-width: 135px;
                color: #000000;
                margin-top: 6px;
                // margin-bottom: 6px;
                margin-left: 0;
                font-family: $font-stack-headline;
                font-size: 12px;
                &.menu-header {
                    font-family: $font-stack-headline-bold;
                    position: relative;

                    &> a {
                        text-transform: uppercase;
                    }

                    /* use as spacer in desktop view */
                    .toggle {
                        opacity: 0;
                        min-height: 175px;
                        display: inline-block;
                        float: right;
                        width: 1em;
                        &:hover {
                            cursor: pointer;
                        }
                    }

                    @media (max-width: $small-max-width) {
                        border-bottom: 1px solid #d8d8d8;
                        margin: 0;
                        padding: 0;
                        width: 100%;

                        vertical-align: middle;
                        max-width: none;

                        a {
                            display: inline-block;
                            height: 44px;   /* recommended minimum for touchable element */
                            padding-right: 10px;
                            position: relative;
                            line-height: 44px;
                        }

                        .toggle {
                            opacity: 1;
                            min-height: auto;
                            float: none;
                            display: inline-block;
                            width: 100%;
                            font-size: 115%;
                            text-align: right;
                            vertical-align: top;
                            position: absolute;
                            right: 0;
                            top: 0;

                            .button {
                                display: inline-block;  /* to allow rotation */
                            }
                        }
                        .submenu {
                            display: none;  /* hide by default on mobile */

                            li {
                                margin-top: 0;
                                display: block;
                                max-width: none;
                            }
                        }

                    }
                }

                .submenu {
                    display: block;
                    height: auto;
                    li {
                        display: block;
                    }
                }

                &.menu-header.open {
                    @media (max-width: $small-max-width) {
                        .toggle .button {
                            -webkit-transform: rotate(45deg);
                            transform: rotate(45deg);
                        }
                    }
                }

            }
        }
    }
}