{% extends 'base.html' %}
{# base template for blog pages with rss/atom header links for autodiscovery #}

{% block extra-head %}
<link rel="alternate" type="application/rss+xml" href="{% url 'blog:rss' %}"
    title="Updates – CDH@Princeton"/>
<link rel="alternate" type="application/atom+xml" href="{% url 'blog:atom' %}"
    title="Updates – CDH@Princeton"/>
{% endblock %}


{% block content-footer %}
<div class="feeds">Subscribe: <a href="{% url 'blog:rss' %}">RSS</a> |
    <a href="{% url 'blog:atom' %}">ATOM</a>
</div>
{% endblock %}