{% for post in blogposts %}
<article class="blogpost">
    <header>
        <a href="{{ post.get_url }}">
            {# h3 for profile, h2 elsewhere #}
            {% if profile %}
            <h3>{{ post.title }}</h3>
            {% else %}
            <h2>{{ post.title }}</h2>
            {% endif %}
        </a>
        <div class="byline">
            {# if on archive page or there are multiple authors, show them #}
            {% if not profile or post.authors.count > 1 %}
            <div class="authors">
                {% if profile %}
                <span>with </span>
                {% endif %}
                {% for author in post.authors.all %}
                    {# on profile page, we don't need to show author if it's the profile user #}
                    {% if not profile or author.person.id is not profile.person.id %}
                    <span property="schema:author" typeof="schema:Person">
                        <a {% if author.person.profile_url %}property="schema:url" href="{{ author.person.profile_url }}"{% endif %}>
                        <span property="schema:name">{{ author.person }}</span></a>{% if not forloop.last %}, {% endif %}
                    </span>
                    {% endif %}
                {% endfor %}
            </div><br/>
            {% endif %}
            <span class="date-published">{{ post.first_published_at|date:"F j, Y" }}</span>
        </div>
    </header>
    {# don't display descriptions on profile #}
    {% if not profile %}
    <div>{{ post.description|safe }}</div>
    {% endif %}
</article>
{% endfor %}