{% extends 'blog/base.html' %}
{% load humanize %}

{% block page-subtitle %}{% firstof title 'Latest' %} {{ block.super }}{% endblock %}

{% block main %}

<section class="blogposts">

<h1>{{ title|default:'Latest' }} Updates</h1>

<div class="archive-nav">
  <a class="toggle">Latest <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
  <ul class="submenu">
    {# include latest blogposts page link #}
    {% url 'blog:list' as latest_url %}
    <li {% if request.path == latest_url %}class="current"{% endif %}><a href="{{ latest_url }}">Latest</a></li>
    {% for archive_date in date_list %}
    {% ifchanged %}<li>{{ archive_date.year }}</li>{% endifchanged %}
        {% url 'blog:by-month' year=archive_date.year month=archive_date|date:"m" as blog_url %}
        <li {% if blog_url == request.path  %}class="current"{% endif %}>
            <a href="{{ blog_url }}">{{ archive_date|date:"F" }}</a></li>
    {% endfor %}
  </ul>
</div>

{% include 'blog/blogpost_list.html' %}

</section>

{% if is_paginated %}
  {% include "snippets/pagination.html" %}
{% endif %}


{% endblock %}
