{% extends 'blog/base.html' %}
{% load wagtailcore_tags humanize %}
{# simple blog post page; adapted in part from mezzanine blog post template #}

{% block page-subtitle %}{{ post.title }} | {{ block.super }}{% endblock %}

{% block headattrs %} xmlns:article="http://ogp.me/ns/article#"{% endblock %}
{% block extra-head %}
    <meta name="article.published_time" content="{{ post.first_published_at.isoformat }}"/>
    <meta name="article.modified_time" content="{{ post.last_published_at.isoformat }}"/>
    {% if post.authors.exists %}
      {% for author in post.authors.all %}
        {% if author.person.profile_url %}
        {# facebook requires url; provide local or external if we have it #}
    <meta name="article.author" content="{{ author.person.profile_url }}"/>
        {% endif %}
      {% endfor %}
    {% endif %}

    {{ block.super}} {# still include blog feed links #}
{% endblock %}

{% block bodyattrs %}class="blogpost"{% endblock %}

{% block main %}
<article typeof="schema:BlogPosting" class="blogpost">
    <header>
        <h1 property="schema:headline">{{ post.title }}</h1>
        <meta property="schema:url schema:mainEntityOfPage" content="{% pageurl post %}"/>
        {# FIXME: do we need full url here? #}
        <meta property="schema:datePublished" content="{{ post.first_published_at|date:"c" }}"/>
        <meta property="schema:dateModified" content="{{ post.last_published_at|date:"c" }}"/>

        <div class="byline">
        {% if post.authors.exists %}
        <div class="authors">
        {% for author in post.authors.all %}
            <span property="schema:author" typeof="schema:Person">
                <a {% if author.person.profile_url %}property="schema:url" href="{{ author.person.profile_url }}"{% endif %}>
                <span property="schema:name">{{ author.person }}</span></a>{% if not forloop.last %}, {% endif %}
            </span>
        {% endfor %}
        </div><br/>
        {% endif %}
        <span class="date-published">{{ post.first_published_at|date:"F j, Y" }}</span>
        {# NOTE: google structured data testing tool claims publisher and image are required #}
            <div property="schema:publisher" style="display:none">
              <span typeof="schema:Organization">
                <a property="schema:url" href="https://cdh.princeton.edu">
                <span property="schema:name">The Center for Digital Humanities @ Princeton University</span></a>
              </span>
            </div>
        </div>
    </header>

    <div class="content" property="schema:articleBody">
    {% for block in post.body %}
        {% include_block block %}
    {% endfor %}
    </div>


</article>
{% endblock %}

{% block content-footer %}
    {# display next & previous blog post links #}
    {% if next or previous %}
    <div class="next-previous">
        {% if previous %}
        <p class="prev"><a rel="prev" href="{% pageurl previous %}">{{ previous.title }}</a></p>
        {% endif %}
        {% if next %}
        <p class="next"><a rel="next" href="{% pageurl next %}">{{ next.title }}</a></p>
        {% endif %}
    </div>
    {% endif %}

    {{ block.super }}
{% endblock %}
