{% extends 'blog/base.html' %}
{% load humanize %}

{% block page-subtitle %}{% firstof title 'Latest' %} {{ block.super }}{% endblock %}

{% block main %}

<section class="blogposts">

<h1>{{ title|default:'Latest' }} Updates</h1>

<div class="archive-nav">
  <a class="toggle">Latest <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
  <ul class="submenu">
    {# include latest blogposts page link #}
    {% url 'blog:list' as latest_url %}
    <li {% if request.path == latest_url %}class="current"{% endif %}><a href="{{ latest_url }}">Latest</a></li>
    {% for archive_date in date_list %}
    {% ifchanged %}<li>{{ archive_date.year }}</li>{% endifchanged %}
        {% url 'blog:by-month' year=archive_date.year month=archive_date|date:"m" as blog_url %}
        <li {% if blog_url == request.path  %}class="current"{% endif %}>
            <a href="{{ blog_url }}">{{ archive_date|date:"F" }}</a></li>
    {% endfor %}
  </ul>
</div>



{% for blogpost in blogposts %}
{# TODO: convert to snippet ?  some overlap with blogpost detail #}
<div class="blogpost">
    <header>
    <a href="{{ blogpost.get_absolute_url }}"><h2>{{ blogpost.title }}</h2></a>

    <div class="byline">
    {% for author in blogpost.users.all %}
        <div class="authors">
        <span property="schema:author" typeof="schema:Person">
            <a {% if author.profile %}property="schema:url" href="{{ author.profile.get_absolute_url }}"{% endif %}>
            <span property="schema:name">{{ author }}</span></a>
        </span>
    </div>
    {% endfor %}
    <span class="date-published">{{ blogpost.publish_date|date:"F j, Y" }}</span>
    </div>
    </header>

    <div>{{ blogpost.description }}</div>
</div>
{% endfor %}
</section>

{% if is_paginated %}
  {% include "snippets/pagination.html" %}
{% endif %}


{% endblock %}
