{% extends 'blog/base.html' %}
{% load humanize %}

{% block main %}
<h3>Archives</h3>

<ul>
    {% for date in date_list %}
        <li>{{ date|date:"M" }}</li>
    {% endfor %}
</ul>

<ul>
    <h1>All posts for {{ year|date:"Y" }}</h1>
    {% for post in posts %}
    <li>
        <a href="{% pageurl post %}">{{ post.title }}</a>
        {% for author in post.authors.all %}
        <div property="schema:author" typeof="schema:Person">
            <a property="schema:url" href="{{ author.person.profile_url }}">
            <span property="schema:name">{{ author.person }}</span></a>
        </div>
        {% endfor %}
        <div>{{ post.first_published_at|naturalday }}</div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
