select {
  font: inherit;
  appearance: none;
  background-color: var(--color-white);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 16'%3E%3Cg fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath fill='var(--icon-accent-color, %2300edff)' d='m22.462 6.66-8.564 8.333-2.333-2.102 8.634-8.462 2.263 2.23Z' /%3E%3Cpath fill='var(--icon-color, %23414042)' d='m21.796 2.898-10.231 10-10.231-10L3.597.667l7.968 7.767L19.533.667l2.263 2.231Z' /%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 20px;
  padding-inline: 16px 38px;
  border: 1px solid var(--color-grey-60);
  border-radius: 8px;
  font-size: px2rem(16);
  font-weight: bold;
  height: px2rem(40); // todo normalise once more forms built
}
