{% if jumplinks %}
  <div class="sk-jumplinks">
    <h2 class="sk-jumplinks__heading">
      On this page
    </h2>
    <ul class="sk-jumplinks__list">
      {% for link in jumplinks %}
        <li>
          <a href="#{{ link.target }}" class="sk-jumplinks__link">
            {% include 'includes/svg.html' with sprite="two-tone" svg="arrow-down" classes="sk-jumplinks__icon" %}
            <span>{{ link.text }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
