**/.git*
.git/
.github/
.circleci/

docs/
infra/
node_modules/
var/

dev.env*
docker/database
docker/httpd
**/Dockerfile
**/.dockerignore
docker-bake.yml
docker-compose.yml
**/README.md
**/*.sql*
.justfile

appspec.yml
compose.yml

.files/*
