# stay on 1.10.x for mezzanine/filebrowser_safe compatibiliity
django>=1.10,<1.11
# manually pin a compatible version of pillow for mezzanine image preview
pillow<4.2
mezzanine
django-compressor
django-compressor-autoprefixer
mysqlclient
django-admin-sortable2
django-taggit
pucas>=0.5
python-dateutil
icalendar
attrdict
django-fullurl
