// TODO: This may actually be more of a "full width" template than a specifically "home" template.
// Will suss as we build out the other pages.

// Has `.grid-standard`
.home__main-content {
  // *Default* (and fallback) grid alignment of components. Some components differ.
  & > * {
    grid-column: 1 / -1;

    @include md {
      grid-column: 2 / -1;
    }
    @include lg {
      grid-column: 3 / -2;
    }
    @include xl {
      grid-column: 3 / -3;
    }
    @include xxl {
      grid-column: 3 / -4;
    }
  }

  // TODO overrides like so:
  //   :where(.block-whatever) {
  //        grid-column: ...
  //   }
}
