@use '../mixins/mx';
@use '../functions/fn';

// Has `grid-standard`.
// Uses more cols than other pages, so doesn't use `.page-layout--*`
.projects-landing {
  > * {
    grid-column: 1 / -1;

    @include mx.md {
      grid-column: 2 / -2;
    }
  }

  :where(.tiles__list) {
    margin-block-start: 64px;
  }
}

.projects-landing__form {
  @include mx.three-dee-box;
  & {
    position: relative;
    padding: 24px;

    display: grid;
    // f = fields (selects and text)
    // c = checkboxes
    // b = buttons/links
    grid-template-areas:
      'f'
      'c'
      'b';
    gap: 24px;
  }

  @include mx.md {
    --three-dee-side-size: 56px;
    padding: 32px;
    grid-template-areas:
      'f f'
      'c c'
      'b b';
  }
  @include mx.lg {
    grid-template-areas:
      'f f'
      'c b';
  }
}

.projects-landing__form-fields {
  grid-area: f;
  display: grid;
  gap: 20px;

  @include mx.sm {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px 24px;
  }
  @include mx.lg {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
  }

  :where(label) {
    font-weight: bold;
    font-size: fn.rem(17);
    line-height: 1.33;
  }
}
.projects-landing__form-checkboxes {
  grid-area: c;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px 24px;

  :where(label) {
    font-weight: bold;
    font-size: fn.rem(15);
    line-height: 1.33;
  }
}
.projects-landing__form-btns {
  grid-area: b;
  @include mx.sm {
    justify-self: end;
  }

  :where(button[type='submit']) {
    order: 1;
  }

  // Note: Deliberate specificity bump, since pages are earlier in the cascade than components
  // We don't want these buttons being full-width-stacked on mobile UNLESS they wrap.
  // TODO?: apply this to .sk-btn-group globally. It's only used here and in the feature block currently.
  .sk-btn-group {
    flex-direction: row;
    flex-wrap: wrap;

    :where(.sk-btn) {
      inline-size: unset;
      // But if they do need to stack (i.e. they won't fit on one line), they should be full-width
      flex-grow: 1;
    }
  }
}

.projects-landing__form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.no-results-container {
  display: flex;
  flex-direction: column;
}

.no-results-message {
  white-space: nowrap;
  max-width: 100%;
}

.no-results-suggestion {
  white-space: nowrap;
  max-width: 100%;
}
