// By default, every prose element has a bottom margin.
// `li` is excluded because list item spacing is handled later on.
// Same with headings because they have their own, more specific spacing values.
// Ignore header and footer, they have their own styles.
:where(main) {
  --space-default: 1rem;

  // Space for headings.
  // Note the space is actually applied as a bottom margin to the element *before*
  // the heading, but are based on the level of that heading.
  // So in the case of `p + h2`, the p gets a big margin-bottom.
  --space-h2-lg: #{px2rem(56)};
  --space-h3-lg: #{px2rem(40)};
  --space-h4-lg: #{px2rem(24)};
  // Note, h5 and h6 are styled the same as h4 currently.
  // TODO, maybe reassess once real content is in.
  --space-h5-lg: #{px2rem(24)};
  --space-h6-lg: #{px2rem(24)};

  --space-h2-sm: calc(var(--space-h2-lg) / 4);
  --space-h3-sm: calc(var(--space-h3-lg) / 4);
  --space-h4-sm: calc(var(--space-h4-lg) / 4);
  --space-h5-sm: calc(var(--space-h5-lg) / 4);
  --space-h6-sm: calc(var(--space-h6-lg) / 4);

  --space-list-items: #{px2rem(8)};

  @include md {
    --space-h2-lg: #{px2rem(104)};
  }

  :is(p, ul, ol, blockquote) {
    margin-bottom: var(--space-default);
  }
  // Headings have a little more bottom spacing than other prose elements
  h2 {
    margin-bottom: var(--space-h2-sm);
  }
  h3 {
    margin-bottom: var(--space-h3-sm);
  }
  h4 {
    margin-bottom: var(--space-h4-sm);
  }
  h5 {
    margin-bottom: var(--space-h5-sm);
  }
  h6 {
    margin-bottom: var(--space-h6-sm);
  }

  *:has(+ h2) {
    margin-bottom: var(--space-h2-lg);
  }
  *:has(+ h3) {
    margin-bottom: var(--space-h3-lg);
  }
  *:has(+ h4) {
    margin-bottom: var(--space-h4-lg);
  }
  *:has(+ h5) {
    margin-bottom: var(--space-h5-lg);
  }
  *:has(+ h6) {
    margin-bottom: var(--space-h6-lg);
  }

  :where(.block-paragraph blockquote) {
    @include outdented-line-block;
  }

  // Headings followed immediately by a heading of a level down
  // should have only a small gap below.
  :where(h2):has(+ h3) {
    margin-bottom: var(--space-h2-sm);
  }
  :where(h3):has(+ h4) {
    margin-bottom: var(--space-h3-sm);
  }
  :where(h4):has(+ h5) {
    margin-bottom: var(--space-h4-sm);
  }
  :where(h5):has(+ h6) {
    margin-bottom: var(--space-h5-sm);
  }

  // List item spacing.
  :where(li):has(+ li) {
    margin-bottom: var(--space-list-items);
  }

  // Nested list spacing.
  // This is the only place we need to use margin-top :'(
  :where(li) :is(ul, ol) {
    margin-top: var(--space-list-items);
  }

  // Remove the bottom margin on the last prose element
  // (i.e. if it has no next sibling).
  // TODO: Could there be an argument to apply this to ALL elements (*) with no next sibling?
  :is(p, ul, ol, h1, h2, h3, h4, h5, h6):not(:has(+ *)) {
    margin-bottom: 0;
  }
}
