// Styles for body copy, aka "rich text".
// Wrap body copy elements in a div/section with the class "rich-text".
// Works best if the direct children are the typographic elements
// (headings, p etc). This ensures that the .rich-text container doesn't
// have extra space at the start/end.
// :where() selector is used to keep specificity low.
:where(.rich-text) {
  --space-between-els: 1lh; // relative so it scales to bigger/smaller text
  --space-between-sections: #{px2rem(40)};

  @include xl {
    --space-between-sections: #{px2rem(64)};
  }

  > * {
    margin-bottom: var(--space-between-els, 1em);
  }

  // When we encounter a heading, that can be considered a new "section" of
  // the content so should have a nice big space above...
  // Note: h1s are assumed to be outside of the `rich-text` area, as they're
  // typically in a hero banner rather than coming from a WYSIWYG with other text.
  :is(h2, h3, h4, h5, h6) {
    margin-top: var(--space-between-sections);
  }
  // ...unless a heading appears immediately after another heading, in which case we need to reduce the spacing.
  h2 + h3,
  h3 + h4,
  h4 + h5,
  h5 + h6 {
    margin-top: var(--space-between-els, 1em);
  }

  // Remove any orphan vertical space at the start/end of the rich-text block.
  // NOTE: this assumes items are direct children of .rich-text container.
  > * {
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  ul,
  ol {
    // Undo padding:0 from the css reset, which kills list indentation.
    padding: revert;
  }

  // Collapsing margins should ensure we don't get extra space between this and preceding element.
  // i.e. no `:not(:first...)` required.
  li {
    margin-top: 0.5em;
  }
}
