{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}

{# Override entire title so there's no extra context appended #}
{% block title %}<title>{% firstof page.seo_title page.title %}</title>{% endblock %}

{% block content %} {# add a class to main content for home-page specific styles #}

<h2>Homepage hero</h2>
<div>{{ self.title}}</div>
<div>{{ self.summary }}</div>
{% if self.hero_image %}
{% image self.hero_image width-400 as image %}
<img src="{{ image.url }}" alt="{{ image.title }}" />
{% endif %}




<div class="homepage{% if updates %} with-carousel{% endif %}">
{% if updates %}
{% include 'snippets/carousel.html' %}
{% endif %}
{{ block.super }}
</div>
{% endblock %}

{% block bodyclass %}with-cards{% endblock %}

{% block main %}

{# display editable page content; wrapped for formatting reasons #}
{% if page.body %}
<section class="textcontent">
    <div class="richtext">
    {% include_block page.body %}
    </div>
</section>
{% endif %}

{# featured pages (about & consult) — only render if pages are available #}
{% if about and consult %}
{% include "cdhpages/snippets/featured_pages.html" %}
{% endif %}

<section class="events">
<h2><a href="{% url 'event:upcoming' %}">Upcoming Events</a></h2>
{% for event in events %}
    {% include 'events/snippets/event_card.html' %}
{% empty %}
    <div>
    <p>Next semester's events are being scheduled.
        Check back later or view <a href="{% url 'event:upcoming' %}">past events</a>.</p>
    </div>
{% endfor %}
</section>

<section class="projects">
<h2><a href="{% slugurl 'projects' %}">Projects</a></h2>
{% for project in projects %}
    {% include 'projects/snippets/project_card.html' %}
{% endfor %}
</section>

{% endblock %}

{% block child-pages %}
    {% include 'snippets/child_pages.html' with child_pages=page.get_children.live content_only=1 %}
{% endblock %}
