{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags springkit_tags %}

{# TODO fix weird title tag #}
{% block title %}<title>{% firstof page.seo_title page.title %}</title>{% endblock %}

{% block body_class %}template-home{% endblock %}

{% block main %}
    {% include 'includes/home_hero.html' %}

{% block content %}
  {% if page.show_jumplinks %}
    {% jumplinks page.body %}
  {% endif %}
  {% endblock %}
    
    <div class="page-layout page-layout--without-sidenav content-width grid-standard">
        <div class="page-layout__main-content">
            <div class="streamfields-wrapper">
                {% if page.body %}
                {% include_block page.body %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
