{% extends 'base.html' %}
{% load humanize wagtailcore_tags %}

{% block main %}
<h1>{{ page_title }}</h1>
<form action="{% url 'search' %}" method="get">
    <input type="search" name="q" placeholder="{{ query_placeholder }}" value="{{ active_query }}">
    <select name="filter">
        {% for filter in filters %}
        <option value="{{ filter }}"{% if filter == active_filter %} selected{% endif %}>{{ filter|capfirst }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Search">
</form>
<div>
    {% if results %}
    <p>{{ results|length }} result{{ results|pluralize}}</p>
    <ol>
    {% for page in results %}
    <li>{{ page.title }} (<b>{{ page.specific.cached_content_type.name }}</b>) — <i>{{ page.first_published_at|naturalday }}</i></li>
    {% endfor %}
    </ol>
    {% else %}
    <p>No results found.</p>
    {% endif %}
</div>
{% endblock %}