{% extends 'base.html' %}
{% load humanize cdh_tags wagtailcore_tags %}
{# Site search page #}

{% block main %}
<h1 class="sr-only">{{ page_title }}</h1>
<form class="search" action="{% url 'search' %}" method="get">
    {{ form.q }}
    {{ form.filter }}
    <input type="submit" value="Search">
</form>
<div class="results">
    {% if page_obj %}
    <p class="total-results">{{ page_obj.paginator.count }} Total Result{{ page_obj.paginator.count|pluralize}}</p>
    <ol start="{{ page_obj.start_index }}">
    {% for page in page_obj %}
    {% include "cdhpages/snippets/search_result.html" %}
    {% endfor %}
    </ol>
    {% elif form.q.value %}
    <p class="total-results">No results found.</p>
    {% endif %}
</div>
{% if page_obj and form.q.value %}
{% include "snippets/pagination.html" %}
{% endif %}
{% endblock %}