@use '../mixins/mx';
@use '../functions/fn';

/* 
Event hero. Similar to standard hero. Key differences:
- image ratio (TODO – maybe?)
- image has a caption
- text content – more of it, and it aligns vertically with the h1
*/

// has `.grid-standard`
.event-hero {
  --title-top-space: 40px;

  margin-block-end: 56px;

  // t = text content
  // i = img + credit

  // Layout if there is _no_ image:
  grid-template-areas: 't t t t t t t t t t t t';

  @include mx.sm {
    margin-block-end: 120px;
  }

  @include mx.md {
    --title-top-space: 64px;
  }
  @include mx.lg {
    --title-top-space: 80px;

    grid-template-areas: '. t t t t t t t t t t .';
  }
  @include mx.xl {
    --title-top-space: 104px;
  }
  @include mx.xxl {
    --title-top-space: 160px;
    grid-template-areas: '. t t t t t t t t t . .';
  }

  // Different layout if the hero has an image:
  &:has(img) {
    grid-template-areas:
      'i i i i i i i i i i i i'
      't t t t t t t t t t t t';

    @include mx.md {
      grid-template-areas: 't t t t t t i i i i i i';
    }
    @include mx.lg {
      grid-template-areas: '. t t t t t i i i i i i';
    }
  }
}

.event-hero__text {
  grid-area: t;
  font-size: fn.rem(16);
  line-height: 1.125;

  :where(h1) {
    margin-block-start: var(--title-top-space);
  }

  :where(ul) {
    margin-block-start: 16px;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include mx.lg {
      font-size: fn.rem(20);
    }
  }
  :where(li) {
    margin: 0;
  }
  :where(.tag-list) {
    margin-block-start: 24px;

    @include mx.xl {
      margin-block-start: 40px;
    }
  }
}

.event-hero__date {
  font-weight: bold;
  margin: 16px 0 0;
}

.event-hero__buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-block-start: 24px;

  @include mx.sm {
    flex-direction: row;
  }

  @include mx.xl {
    margin-block-start: 40px;
  }
}

.event-hero__location {
  font-weight: bold;
  margin: 8px 0 0;
}

.event-hero__img {
  grid-area: i;

  :where(img) {
    @include mx.break-grid;

    @include mx.sm {
      @include mx.undo-break-grid;
    }
    @include mx.md {
      @include mx.break-grid-right;
    }

    @include mx.xxxl {
      @include mx.undo-break-grid;
    }
  }
}
