.main-nav-mobile {
  @include lg {
    display: none;
  }
}

.mobile-menu__header {
  --mobile-nav-bg: var(--color-white);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px var(--page-gutter) 8px;
  background-color: var(--mobile-nav-bg);
}

.mobile-menu__header--open {
  --mobile-nav-bg: var(--color-brand-100);
  --logo-accent-color: var(--logo-accent-color-dark);
}

.mobile-menu__logo-link {
  // Overlap hero/breadcrumb area slightly
  margin-block-end: -20px;
  isolation: isolate;
}

.mobile-menu__header-logo {
  width: 108px;
  aspect-ratio: 160 / 120;
}

.mobile-menu__header-btn {
  // Some overrides to .sk-btn
  width: auto;
  border-width: 4px;
  padding-block: 10px;

  .mobile-menu__header--open & {
    border-color: var(--color-brand-120);
    --icon-color: var(--icon-color-dark);
    --icon-accent-color: var(--icon-accent-color-dark);
  }
}

.mobile-menu__header-btn-icon {
  width: px2rem(20);
  aspect-ratio: 1;
}

.mobile-menu__nav-container {
  padding-block-start: 32px;
  background-color: var(--color-brand-100);
}

.mobile-menu__nav-list {
  list-style-type: none;
  padding: 0;
}

// May be a button or a link, depending on whether the item has l2 items to show.
.mobile-menu__nav-btn {
  // button/link resets:
  font: inherit;
  cursor: pointer;
  background: none;
  border: none;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid transparent;
  font-weight: bold;
  font-size: px2rem(22);

  &[aria-expanded='true'] {
    @include full-bleed-bg(var(--color-brand-40));
  }
  &:not([aria-expanded='true']) {
    --icon-color: var(--icon-color-dark);
    --icon-accent-color: var(--icon-accent-color-dark);
    border-color: var(--color-brand-110);
  }

  &:hover {
    color: currentColor;
  }
}

.mobile-menu__dropdown-icon {
  flex-shrink: 0;
}

.mobile-menu__dropdown-icon--right {
  width: 17px;
  aspect-ratio: 17 / 24;
  margin-right: 4px;
}

.mobile-menu__dropdown-icon--up {
  height: 19px;
  width: 24px;
}

.mobile-menu__dropdown-icon--down {
  height: 19px;
  width: 24px;
}

.mobile-menu__sub-menu {
  --icon-accent-color: var(--color-brand-120);
  background-color: var(--color-brand-100);
  padding-block-end: 32px;
  font-size: px2rem(16);

  @include full-bleed-bg(var(--color-brand-40));
}

.mobile-menu__sub-menu-description {
  margin-bottom: 16px;
}

.mobile-menu__sub-menu-goto-link {
  font-size: px2rem(14);
}

.mobile-menu__sub-menu-list {
  list-style-type: none;
  padding: 24px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-top: 1px solid var(--color-brand-110);
  margin-top: 32px;
}

.mobile-menu__secondary-content {
  padding-block: 32px 48px;
}

.mobile-menu__secondary-nav-list {
  --color-link-underline: var(--color-brand-110);

  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: px2rem(14);
}

.mobile-menu__cta {
  margin-top: 32px;
  --btn-border-color: var(--color-brand-110);
  --btn-border-color-hover: var(--color-brand-110);
}
