.note {
  background-color: var(--color-brand-5);
  border: 1px solid var(--color-brand-100);
  padding: 16px;

  @include sm {
    padding: 32px;
  }

  :where(h2) {
    margin-block-end: 8px;
  }
}
