@use '../mixins/mx';
@use '../functions/fn';

/*
Similar to standard hero, but with a tag/chip thing that can show above the title,
and some meta info that can appear below the description (like blog hero).
*/

// has `.grid-standard`
.project-hero {
  --title-top-space: 32px;

  margin-block-end: 56px;

  // c = text content (one or more of: "built by CDH" tag, title, meta deets, project link)
  // i = image

  // Layout if there is _no_ image:
  grid-template-areas: 'c c c c c c c c c c c c';

  @include mx.sm {
    margin-block-end: 120px;
  }

  @include mx.md {
    --title-top-space: 40px;
  }
  @include mx.lg {
    --title-top-space: 80px;

    grid-template-areas: '. . c c c c c c c c c .';
  }

  // Different layout if the hero has an image:
  &:has(img) {
    grid-template-areas:
      'i i i i i i i i i i i i'
      'c c c c c c c c c c c c';

    @include mx.md {
      grid-template-areas: '. c c c c c i i i i i i';
    }
    @include mx.lg {
      grid-template-areas: '. . c c c c i i i i i i';
    }
  }
}

.project-hero__text-content {
  grid-area: c;
  display: flex; // to support visual re-ordering (tag before h1)
  flex-direction: column;

  padding-block-start: 32px;

  @include mx.md {
    padding-block-start: 40px;
  }
}

.project-hero__title {
  
  &:where(:not(:has(+ .project-hero__cdh-built-tag))) {
    margin-block-start: var(--title-top-space);
  }
  &:where(:has(+ .project-hero__cdh-built-tag)) {
    margin-block-start: 40px;
  }

  @include mx.md {
    margin-inline-start: calc(-1 * var(--content-outdent));
  }
}

.project-hero__cdh-built-tag {
  justify-self: start;
  align-self: start;
  order: -1; // visually before h1
}

.project-hero__description {
  font-size: fn.rem(22);
  line-height: 1.5;
  margin: 16px 0 0;

  @include mx.md {
    font-size: fn.rem(20);
    margin-block-start: 24px;
  }
  @include mx.lg {
    margin-block-start: 56px;
  }
  @include mx.xl {
    font-size: fn.rem(24);
  }

  :where(.tag-list) {
    margin-block-start: 24px;
    @include mx.lg {
      margin-block-start: 40px;
    }
  }

  :where(.sk-btn) {
    margin-block-start: 32px;

    @include mx.md {
      margin-block-start: 40px;
    }
    @include mx.lg {
      margin-block-start: 56px;
    }

    :where(svg) {
      width: fn.rem(16);
      aspect-ratio: 1;
    }
  }
}

.project-hero__img {
  grid-area: i;
  @include mx.break-grid;

  @include mx.sm {
    @include mx.undo-break-grid;
  }
  @include mx.md {
    @include mx.break-grid-right;
  }
  @include mx.xxxl {
    @include mx.undo-break-grid;
  }
}
