.search-form {
}

.search-form__filters {
  // Undo `<legend>` styles
  border: none;
  padding: 0;

  margin-block-start: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px 16px;
  font-size: px2rem(15);
  line-height: 1.33;
  font-weight: bold;

  // TODO?: Custom checkbox style instead of accent colour. Time/desire permitting.
  accent-color: var(--color-brand-120);
  :where(label, input) {
    cursor: pointer;
  }
  :where(label) {
    padding-left: 4px; // 8px if we use bigger custom input styles
  }
  :where(.search-form__radio) {
    display: flex;
  }
}

.search-form__input-btn-group {
  --search-control-height: 36px;
  --radius: 24px;
  display: flex;

  :where(input) {
    font: inherit;
    height: var(--search-control-height);
  }
  :where(input[type='text']) {
    flex-grow: 1;
    inline-size: 100%;
    max-inline-size: px2rem(500);
    padding-inline: 20px;
    border: 1px solid var(--color-grey-110);
    border-radius: var(--radius) 0 0 var(--radius);
    font-size: px2rem(16);
  }
  :where(input[type='submit']) {
    border: 0;
    padding-inline: 24px;
    background-color: var(--color-grey-100);
    border-radius: 0 var(--radius) var(--radius) 0;
    color: var(--color-white);
    font-size: px2rem(15);
    font-weight: bold;
  }
}
