// .search-form {
// }

.search-form__filters {
  // Undo `<legend>` styles
  border: none;
  padding: 0;

  margin-block-start: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px 16px;
  font-size: px2rem(15);
  line-height: 1.33;
  font-weight: bold;

  // Search icons only show on the instance at the top of the search page.
  :where(svg) {
    display: none;
  }

  // Styles specifically for the top of the search page.
  // This is when the extra icons show, too.
  :where(.search-page__form) & {
    flex-direction: column;
    gap: 8px;

    @include md {
      flex-direction: row;
      gap: 8px 40px;
    }

    :where(svg) {
      display: block;
      margin-inline-start: 6px;
      // each icon has a different aspect ratio, but this seems to work well enough.
      width: 17px;
      aspect-ratio: 1;
    }
  }

  :where(.search-form__radio) {
    display: flex;
  }
}
