// .search-form {
// }

.search-form__filters {
  // Undo `<legend>` styles
  border: none;
  padding: 0;

  margin-block-start: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px 16px;
  font-size: px2rem(15);
  line-height: 1.33;
  font-weight: bold;

  // TODO?: Custom checkbox style instead of accent colour. Time/desire permitting.
  accent-color: var(--color-brand-120);
  :where(label, input) {
    cursor: pointer;
  }
  :where(label) {
    padding-left: 4px; // 8px if we use bigger custom input styles
  }
  :where(.search-form__radio) {
    display: flex;
  }
}
