/* 
Simple filter `<select>` menu that can appear above a tiles list.
Used on Events and Blog/News landing page.
Layout code currently assumes there's only one label & select.
*/

.simple-filter-bar {
  border-block-end: 1px solid var(--color-brand-100);
  padding-block-end: 20px;
  margin-block-end: 56px;

  display: flex;
  align-items: center;
  gap: 8px;

  @include sm {
    justify-content: end;
  }

  :where(label) {
    font-weight: bold;
    font-size: px2rem(17);
    line-height: 1.33;
  }
  :where(select) {
    flex-grow: 1;

    @include sm {
      flex-grow: unset;
    }
  }
}
