.tiles--featured {
  // The "featured" setting (i.e. full bleed bg) is only designed to work on the homepage.
  // It could be used on any page without a side-nav in theory, but that's not in scope.
  .template-home & {
    @include full-bleed-bg(var(--color-grey-5));
    padding-block: 40px;

    @include md {
      padding-block: 72px;
    }
  }
}

// Wrapper for component title and 'see more' link, both of
// which are optional. Only renders if content is present.
.tiles__title-wrapper {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 8px 24px;
  justify-content: space-between;
  margin-block-end: var(--space-h2-sm);

  :where(h2) {
    margin-bottom: 0;

    @include md {
      margin-inline-start: calc(-1 * var(--content-outdent));
    }
  }

  :where(a) {
    font-size: px2rem(14);
  }
}

.tiles__intro {
  margin-block-end: 40px;

  @include sm {
    margin-block-end: 64px;
  }
}

.tiles__list {
  display: grid;
  row-gap: 40px;

  @include sm {
    grid-template-columns: repeat(auto-fill, minmax(px2rem(280), 1fr));
    column-gap: 32px;
  }

  // For tile lists on wider landing pages, make them outdented too.
  :where(
      :has(
          .page-layout--with-sidenav-wider,
          .page-layout--without-sidenav-wider
        )
        &
    ) {
    @include md {
      margin-inline-start: calc(-1 * var(--content-outdent));
    }
  }
}

.tile {
  --border-color: var(--tile-border-color, var(--color-brand-100));
  display: grid;
  position: relative; // for whole-tile click pseudo element
  grid-template-rows: auto 1fr;
}

.tile--featured {
  --tile-border-color: var(--color-grey-100);
}

// Extra wrapper required for container query
.featured-tile-wrapper {
  @supports (container-name: test) {
    container-type: inline-size;
    container-name: featured-tile;

    // The no. of cols the wrapper has (.tiles__list) is based on *its* width, i.e.
    // not by breakpoint. So we don't know *exactly* when the grid layout will go
    // from 1 col to 2. It happens somewhere between `sm` and `md`. BUT we can be
    // confident that from `md`, there will be at least 2 cols, so we can set the
    // featured tile to span 2 cols from then (doing so when there is only 1 column
    // causes layout bugs.
    grid-column: 1 / -1;

    @include lg {
      grid-column: span 2;
    }
  }
}

@container featured-tile (min-width: #{px2rem(400)}) {
  .tile--featured {
    grid-template-rows: 1fr;
    grid-template-columns: 0.9fr 1fr;
    height: 100%;
    min-height: px2rem(250);

    .tile__img-wrapper {
      grid-column: 1;
      grid-row: 1;
      height: unset;
      aspect-ratio: unset;
    }
    .tile__text {
      grid-column: 2;
      grid-row: 1;
      border: 8px solid var(--border-color);
      border-left: none;
      padding-left: 40px;
      align-content: end;
    }
    .tile__tag {
      grid-column: 1 / -1;
    }
  }
}

.tile__text {
  grid-row: 2;
  grid-column: 1;
  background-color: var(--color-white);
  border: 8px solid var(--border-color);
  border-top: none;
  padding: 24px 12px;

  // Default. Some text elements get different treatment.
  font-size: px2rem(16);
  line-height: 1.5;

  :where(h2, h3) {
    font-size: px2rem(24);
    font-weight: 900;
    margin-block-end: 12px;
  }
}

.tile__event-date {
  font-size: px2rem(16);
}

.tile__event-speakers {
  font-size: px2rem(18);
}

.tile__link {
  text-decoration-line: none;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
  }
}

// A single tag that displays in front of the image, overlapping the top of the tile.
.tile__tag {
  // same cell as img-wrapper
  grid-row: 1;
  grid-column: 1;

  align-self: start;
  justify-self: center;
  transform: translateY(-50%);
}

.tile__img-wrapper {
  --stripe-width: 3px;
  --stripe-gap: 18px;

  grid-row: 1;
  grid-column: 1;
  border: 1px solid var(--border-color);

  // Ratio matches the crop in template
  aspect-ratio: 900 / 493;

  // Fallback is a stripy bg, if no image set
  background-size: auto auto;
  background-color: var(--color-white);
  background-image: repeating-linear-gradient(
    45deg,
    transparent,
    transparent var(--stripe-gap),
    var(--color-brand-100) var(--stripe-gap),
    var(--color-brand-100) calc(var(--stripe-gap) + var(--stripe-width))
  );

  :where(img) {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
