{% load static wagtailcore_tags wagtailimages_tags %}
{% spaceless %}
<section class="featured">
    <h2>{{ about.title }}</h2>
    <div class="content">
        <p>{{ about.description|striptags|safe }}</p>
        {# avoid having the accessible label be "read more" #}
        <a class="about" href="{% pageurl about %}" aria-label="{{ about.title }}">
            <span>Read More</span>
            <i class="fas fa-arrow-right" aria-hidden="true"></i>
        </a>
        <div class="img-bg">
            <div class="img-overlay">
            {# hardcoded image; presentational so no alt #}
            <img src="{% static 'img/rm-consults.jpg' %}" width="330" height="200" alt=""/>
            </div>
        </div>
        {# hardcode consultation link text #}
        <a class="consult" href="{% pageurl consult %}">
            <span>Request a Consultation</span>
            <i class="fas fa-arrow-right" aria-hidden="true"></i>
        </a>
    </div>
</section>
{% endspaceless %}