{% load wagtailcore_tags %}

<div data-component="accordion"
  class="sk-accordion sk-accordion--with-streamfields"
  data-svg-path-icons="/static-svg/dist/global.svg"
  data-component-heading-level="2">

  {# Will display all-expanded until JS loads #}
  {% for item in self.accordion_items %}
    <div data-component-accordion-item>

      <h2 class="sk-accordion__heading" data-component-accordion-item-heading>
        {{ item.heading }}
      </h2>

      {% if item.short_description %}
          <div class="sk-accordion__intro" data-component-accordion-item-intro>{{ item.short_description }}</div>
      {% endif %}

      <div class="sk-accordion__content" data-component-accordion-item-content>
        {% include_block item.body %}
      </div>

    </div>
  {% endfor %}

</div>
