{% extends 'base.html' %}
{% load wagtailcore_tags %}

{% block body_class %}template-standard{% endblock %}

{% block main %}
    {% include 'includes/breadcrumbs.html' %}
    {% include 'includes/standard_hero.html' %}

    <div class="page-layout page-layout--with-sidenav content-width grid-standard">
        <div class="page-layout__main-content">
            <div class="streamfields-wrapper">
                {% if page.body %}
                    {% include_block page.body %}
                {% endif %}
            </div>
        </div>

        {# TODO conditionally render if page has siblings (and any other pre-requisites) #}
        <div class="page-layout__sidenav">
            {% include 'includes/sidenav.html' %}
        </div>
    </div>

{% endblock %}
