{% extends 'base.html' %}
{% load mezzanine_tags %}

{% block page-subtitle %}{{ project.title }} | Projects | {% endblock %}

{% block main %}
<div class="project-detail">
<header>
    <h1>{{ project.title }}</h1>
    <h2>{{ project.short_description }}</h2>
    {% if project.excerpt %}
    <p class="short_description">{{ project.excerpt }}</p>
    {% endif %}
</header>

<div class="contributors">
    <ul>
        {# TODO: display current *or* latest grant #}
    {% for membership in project.current_membership %}
        {% ifchanged %}<li class="role"><h3>{{ membership.role }}</h3></li>{% endifchanged %}
        <li>{{ membership.user }}</li>
    {% endfor %}
    {# include project alumni  #}
    {% if project.alumni_members %}
        <li class="role"><h3>Project Alumni</h3></li>
        {% for alum in project.alumni_members %}
        <li>{{ alum }}</li>
        {% endfor %}
    {% endif %}
    </ul>

    {% if project.website_url %}
    <a href="{{ project.website_url }}">Project Website</a>
    {% endif %}


</div>

<div class="description">
    {% if project.image %}
    <img src="{{ MEDIA_URL }}{{ project.image }}"/>
    {% endif %}
    {{ project.long_description|safe }}
</div>

{% endblock %}