{% extends "base.html" %}

{% block page-title %}{{ title|default:'People' }}{% endblock %}
{% block bodyattrs %}class="with-cards"{% endblock %}

{% block main %}
<section class="projects">

<h1>{{ title }}</h1>

{# drop-down nav adapted from person list pages #}
<div class="archive-nav">
  <a class="toggle">{{ title }}
    <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
  <ul class="submenu">
    {% for label, page_url in archive_nav_urls %}
      <li {% if request.path == page_url %}class="current"{% endif %}><a href="{{ page_url }}">{{ label }}</a></li>
    {% endfor %}
  </ul>
</div>

{# display page intro snippet paragraph if there is one #}
{% if page_intro %}
<section class="textcontent">
    <div class="richtext">
    {{ page_intro.paragraph|safe }}
    </div>
</section>
{% endif %}

{# current projects #}
{% for page in current %}
    {% include 'projects/snippets/project_card.html' with large=1 %}
{% endfor %}

{% if past %} {# display past if any #}
<h2>{{ past_title }}</h2>
{% for page in past %}
    {% include 'projects/snippets/project_card.html' with large=1 %}
{% endfor %}
{% endif %}

</section>
{% endblock %}