{% extends 'base.html' %}
{% load mezzanine_tags %}

{% block page-subtitle %}{{ project.title }} | Projects | {% endblock %}

{% block main %}
<div class="project-detail">
<header>
    <h1>{{ project.title }}</h1>
    <p class="short_description">{{ project.short_description }}</p>
    {% if project.excerpt %}
    <p class="short_description">{{ project.excerpt }}</p>
    {% endif %}
</header>

<div class="links">
  <ul>
    {% for link in project.projectresource_set.all %}
        {% with link_type=link.resource_type.name %}
        <li class="{{ link_type|lower }}"><a href="{{ link.url }}">
            {# Special case: display project URL to make it visible & memorable  #}
            {% if link_type == 'Website' %}<span>Project Website</span> <span class="url">{{ link.display_url }}</span>
        {% else %}{{ link_type }}{% endif %}</a>
        </li>
        {% endwith %}
    {% endfor %}
    </ul>
</div>

<div class="contributors">

    <ul>
    {# display project members for the current (or most recent) grant #}
    {% for membership in project.current_membership %}
        {% ifchanged %}<li class="role"><h3>{{ membership.role }}</h3></li>{% endifchanged %}
        <li>{{ membership.user }}</li>
    {% endfor %}
    {# include project alumni  #}
    {% if project.alumni_members %}
        <li class="role"><h3>Project Alum{{ project.alumni_members|pluralize }}</h3></li>
        {% for alum in project.alumni_members %}
        <li>{{ alum }}</li>
        {% endfor %}
    {% endif %}
    </ul>




</div>

<div class="description">
    {% if project.image %}
    <img src="{{ MEDIA_URL }}{{ project.image }}"/>
    {% endif %}
    {{ project.long_description|safe }}
</div>

</div>
{% endblock %}