{% extends "base.html" %}

{% block page-subtitle %}{{ title|default:"People" }} | {% endblock %}
{% block bodyattrs %}class="with-cards"{% endblock %}

{% block main %}
<section class="people">

<h1>{{ title }}</h1>

{# drop-down nav adapted from events page #}
<div class="archive-nav">
  <a class="toggle">{{ title }}
    <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
  <ul class="submenu">
    {% for label, profile_url in archive_nav_urls %}
      <li {% if request.path == profile_url %}class="current"{% endif %}><a href="{{ profile_url }}">{{ label }}</a></li>
    {% endfor %}
  </ul>
</div>

{# current people #}
{% for profile in current %}
    {% include 'people/snippets/profile_card.html' %}
{% endfor %}

{# alumni / past members or affiliates #}
{% if past %}
  <h2>{{ past_title|default:"Alumni" }}</h2>
  {% for profile in past %}
    {% include 'people/snippets/profile_card.html' %}
  {% endfor %}
{% endif %}

</section>
{% endblock %}

