{% extends "base.html" %}

{% block page-subtitle %}{{ title|default:"People" }} | {% endblock %}
{% block bodyattrs %}class="with-cards"{% endblock %}

{% block main %}
<section class="people">
<h1>{{ title|default:"People" }}</h1>
{% for profile in object_list %}
    <div class="card profile"
        {% if profile.thumb %}style="background-image:url('{{ MEDIA_URL }}{{ profile.thumb }}')"{% endif %}>
    <a href="{{ profile.get_absolute_url }}">
        <div class="content">

        {% with position=profile.user.positions.first %}
        <p class="title">{{ profile.user.positions.first.title|default:'' }}
        {% if position.end_date %}
            {{ position.start_date.year }}{% if position.end_date.year != position.start_date.year%}-{{ position.end_date.year }}{% endif %}
        {% endif %}
        {% endwith %}
        </p>
        <p class="name">{{ profile.title }}</p>
        </div>
    </a>
</div>
{% endfor %}
</section>
{% endblock %}

