{% extends 'base.html' %}
{% load mezzanine_tags %}

{% block page-subtitle %}{{ profile.title }} | People | {% endblock %}

{% block extra-head %}
    <meta name="profile.first_name" content="{{ profile.user.first_name }}"/>
    <meta name="profile.last_name" content="{{ profile.user.last_name }}"/>
{% endblock %}


{% block main %}
<div class="profile">
<header>
    <h1>{{ profile.title }}</h1>
    {# display all positions, current first; dates for non-current #}
    {% for position in profile.user.positions.all %}
        <p class="title">{% if not position.is_current %}
            {{ position.start_date.year }}{% if position.end_date.year != position.start_date.year%}-{{ position.end_date.year }}{% endif %}
            {% endif %}
        {{ position.title }}
        </p>
    {% endfor %}
</header>

<div class="links">
    {# NOTE equiv to contributors in project #}
    <ul>
    {% for resource in profile.user.userresource_set.all %}
        <li><a href="{{ resource.url }}">{{ resource.resource_type.name }}</a></li>
    {% endfor %}
    </ul>
</div>

{% if profile.image %}
<img src="{{ MEDIA_URL }}{{ profile.image }}" alt="photo of {{ profile.title }}"/>
{% endif %}

<div class="education">
{{ profile.education|safe }}
<a href="mailto:{{ profile.user.email }}">{{ profile.user.email }}</a>
</div>

<div class="bio">
{{ profile.bio|safe }}
</div>

{% if recent_posts %}
<div class="recent-posts">
    <h2>Recent Posts</h2>
    {% include 'blog/blogpost_list.html' with blogposts=recent_posts %}
</div>
{% endif %}

</div>
{% endblock %}
