// Normal
@font-face {
  font-family: 'Brown';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/lineto-brown-regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Brown';
  font-style: italic;
  font-weight: 400;
  src: url('./fonts/lineto-brown-regular-italic.woff2') format('woff2');
}

// Bold
@font-face {
  font-family: 'Brown';
  font-style: normal;
  font-weight: bold;
  src: url('./fonts/lineto-brown-bold.woff2') format('woff2');
}
@font-face {
  font-family: 'Brown';
  font-style: italic;
  font-weight: bold;
  src: url('./fonts/lineto-brown-bold-italic.woff2') format('woff2');
}

// Black
@font-face {
  font-family: 'Brown';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/lineto-brown-black.woff2') format('woff2');
}
@font-face {
  font-family: 'Brown';
  font-style: italic;
  font-weight: 900;
  src: url('./fonts/lineto-brown-black-italic.woff2') format('woff2');
}
