{% extends 'base.html' %}
{% load wagtailcore_tags springkit_tags %}  

{% block body_class %}template-people-landing{% endblock %}

{% block main %}
    {% include 'includes/breadcrumbs.html' with breadcrumbs=page.breadcrumbs current_page=page %}
    {% include 'includes/standard_hero.html' %}

    {# fixed tile block to go here #}

    <div class="page-layout page-layout--with-sidenav content-width grid-standard">
        <div class="page-layout__main-content">
            <div class="streamfields-wrapper">
                {% if page.body %}
                    {% include_block page.body %}
                {% endif %}
            </div>
        </div>

        {% if page.sidebar_navigation %}
        <div class="page-layout__sidenav">  
            {% include 'includes/sidenav.html' %}
        </div>
        {% endif %}
    </div>

{% endblock %}
