{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block main %}

{% include 'includes/breadcrumbs.html' with breadcrumbs=page.breadcrumbs current_page=page %}
{% include 'includes/person_hero.html' with page=page person=page.person %}

<div class="content-width grid-standard page-layout page-layout--without-sidenav">
    <div class="page-layout__main-content">
        <div class="streamfields-wrapper">
            {% for block in page.body %}
                {% include_block block %}
            {% endfor %}

            {% if recent_projects %}
                <div class="block block--tiles">
                    <div class="tiles__title-wrapper">
                        <h2>Related projects</h2>
                    </div>
                    <div class="tiles__list">
                        {% for project in recent_projects %}
                            {% include 'cdhpages/blocks/tile.html' with internal_page=project tile_type='internal_page_tile' has_component_title=True %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% if recent_events %}
                <div class="block block--tiles">
                    <div class="tiles__title-wrapper">
                        <h2>Related events</h2>
                    </div>
                    <div class="tiles__list">
                        {% for event in recent_events %}
                            {% include 'cdhpages/blocks/tile.html' with internal_page=event tile_type='internal_page_tile' has_component_title=True %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {# TODO - when blog page exists #}
            {% if recent_posts %}
                <div class="block block--tiles">
                    <div class="tiles__title-wrapper">
                        <h2>Related posts</h2>
                    </div>
                    <div class="tiles__list">
                        {% for post in recent_posts %}
                            {% include 'cdhpages/blocks/tile.html' with internal_page=post tile_type='internal_page_tile' has_component_title=True %}
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}