{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block main %}

{# breadcrumbs need bed work here #}
{% include 'includes/breadcrumbs.html' with breadcrumbs=page.breadcrumbs current_page=page %}
{% include 'includes/person_hero.html' with page=page person=page.person %}

<div class="page-layout page-layout--with-sidenav content-width grid-standard">
    <div class="page-layout__main-content">
        <div class="streamfields-wrapper">
            {% if page.body %}
                {% include_block page.body %}
            {% endif %}
        </div>
    </div>

    {% if page.sidebar_navigation %}
    <div class="page-layout__sidenav">
        {% include 'includes/sidenav.html' %}
    </div>
    {% endif %}
</div>

{% endblock %}