{% extends "base.html" %}

{% block page-title %}{{ page_title }}{% endblock %}
{% block bodyclass %}with-cards{% endblock %}

{% block main %}
<section class="events">

<h1>{{ page_title }}</h1>

{# drop-down nav adapted from person list pages #}
<div class="archive-nav">
    <a class="toggle">{{ page_title }}
        <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
    <ul class="submenu">
    {# include upcoming events page link #}
    {% url 'events:upcoming' as upcoming_url %}
    <li {% if request.path == upcoming_url %}class="current"{% endif %}><a href="{{ upcoming_url }}">Upcoming</a></li>
    {% for semester, year in date_list reversed %}
        {% url 'events:by-semester' semester=semester|slugify year=year as event_url %}
        <li {% if event_url == request.path  %}class="current"{% endif %}>
            <a href="{{ event_url }}">{{ semester }} {{ year }}</a></li>
    {% endfor %}
</ul>
</div>

{# display page intro snippet paragraph if there is one #}
{% if page_intro %}
<section class="textcontent">
    <div class="richtext">
    {{ page_intro.paragraph|safe }}
    </div>
</section>
{% endif %}

{% for event in events %}
    {% include 'events/snippets/event_card.html' %}
{% empty %}
    {# semester event archive will 404 for no events; upcoming does not #}
    <div><p>Next semester's events are being scheduled.
    {# link to most recent semester if we have past events #}
    {% if date_list %}
        Check back later or view
        {% for semester, year in date_list reversed %}
            {% if forloop.first %}
                {% url 'event:by-semester' semester=semester|slugify year=year as event_url %}
                <a href="{{ event_url }}">{{ semester }} {{ year }}</a></li>
            {% endif %}
        {% endfor %} events.
    {% else %}
        Check back later.
    {% endif %}
    </p></div>
{% endfor %}

{% if past.exists %}
<h2>Past Events</h2>
    {% for event in past reversed %}  {# display in chronological order #}
        {% include 'events/snippets/event_card.html' %}
    {% endfor %}
{% endif %}

</section>
{% endblock %}