{% extends 'base.html' %}

{% block page-subtitle %}{{ year|date:"Y" }} Events | {% endblock %}

{% block bodyattrs %}class="with-cards"{% endblock %}

{% block main %}
{# do we care about month display? #}
{% comment %}
<ul>
    {% for date in date_list %}
        <li>{{ date|date:"M" }}</li>
    {% endfor %}
</ul>
{% endcomment %}

<section class="events">
    <h1>{{ year|date:"Y" }} Events</h1>
    {% for event in object_list %}
        {% include 'events/snippets/event_card.html' %}
    {% endfor %}
</section>

{% endblock %}