{% load wagtailcore_tags core_tags static %}

{% secondary_nav_dict as secondary_dict %}
{{ secondary_dict | json_script:"navigation-data" }}
{% secondary_navigation as secondary_nav %}

{% primary_nav_dict as primary_dict %}
{{ primary_dict | json_script:"navigation-data" }}
{% primary_navigation as primary_nav %}

{% for item in primary_nav.l1_menu_items %}
                <div>
                <h2>{{ item.title }}</h2>
                <ul>
                <div>{{ item.overview }}<div>
                <a href="{{ item.link_url }}">{{ item.section_link_title }}</a>
                </ul>
            <ul>
            {% for link in item.l2_items.all %}
            <a href="{{ link.link_url }}">{{ link.title }}</a>
            {% endfor %}
            </ul>

    </div>

{% endfor %}

<div>
    {% for item in secondary_nav.secondary_nav_items %}
        <a href="{{ item.link_url }}">{{ item.title }}</a>
        {% endfor %}
    {% if secondary_navnav.cta_button %}
        <a href="{{ secondary_nav.cta_button.link_url }}">{{ secondary_nav.cta_button.title }}</a>
        {% endif %}
    </div>  