{% load cdh_tags %}

<nav class="pagination" aria-label="Search pagination">
  {% if page_obj.has_previous %}
    <a rel="prev" href="?{% url_replace 'page' page_obj.previous_page_number %}" class="pagination__next-prev">
      {% include 'includes/svg.html' with sprite="two-tone" svg="chevron-left" classes="pagination__next-prev-icon pagination__next-prev-icon--prev" %}
      Previous
    </a>
  {% endif %}

  {# just display all pages for now, no ellipses #}
  {% for number in page_obj.paginator.page_range %}
    <a href="?{% url_replace 'page' number %}" 
      class="pagination__item {% if number == page_obj.number %}pagination__item--current{% endif %}"
      {% if number == page_obj.number %}aria-current="page"{% endif %}
    >
      {{ number }}
    </a>
  {% endfor %}

  {% if page_obj.has_next %}
    <a rel="next" href="?{% url_replace 'page' page_obj.next_page_number %}" class="pagination__next-prev">
      Next
      {% include 'includes/svg.html' with sprite="two-tone" svg="chevron-right" classes="pagination__next-prev-icon pagination__next-prev-icon--prev" %}
    </a>
  {% endif %}
</nav>

