<nav class="sidenav" aria-label="Side">
    <h2>Also in this section</h2>
    <ul>
        {# TODO one of these for each sidenav item #}
        <li>
            <a href="TODO">
                Example page title
            </a>
        </li>
        
        <li>
            <a href="TODO">
                Example page title
            </a>
        </li>
        {# TODO add extra class anf attribute to current item #}
        <li>
            <a href="TODO" aria-current="page">
                Example current page
            </a>
        </li>
    </ul>
</nav>
