{% load wagtailcore_tags %}

{% for alert in site_alerts %}

<div role="note"
  class="u-hidden alert-banner alert-banner--{{ alert.alert_type }}"
  data-component="alert-banner"
  data-alert-id="alert_{{ alert.alert_id }}"
  {% if alert.title %}aria-labelledby="alert-heading-{{ alert.alert_id|slugify }}"{% endif %} 
  >
  <div class="alert-banner__grid content-width grid-standard">
    <div class="alert-banner__decoration">
      {% if alert.alert_type == 'warning' or alert.alert_type == 'emergency' %}
        {% include 'includes/svg.html' with sprite="two-tone" svg="warning" %}
      {% else %}
        {% include 'includes/svg.html' with sprite="two-tone" svg="info" %}
      {% endif %}
    </div>
    <div class="alert-banner__content
      {% if alert.dismissable %}
        alert-banner__content--dismissable
      {% endif %}
    ">
      <div class="alert-banner__text">
        <h2 id="alert-heading-{{ alert.alert_id|slugify }}" class="alert-banner__heading">
          {{ alert.get_alert_type_display }}:
          {# alert.title field is optional, but title prefix (above) appears regardless #}
          {{ alert.title }}
        </h2>
        {{ alert.message|richtext}}
      </div>
      {% if alert.dismissable %}
        <button role="button" class="alert-banner__dismiss-btn" aria-label="Dismiss alert">
          {% include 'includes/svg.html' with sprite="two-tone" svg="x" %}
        </button>
      {% endif %}
    </div>
  </div>    
</div>
{% endfor %}