{% load wagtailcore_tags wagtailimages_tags %}

{# default card display for a project #}
{% if page.thumbnail %}
    {% image page.thumbnail max-310x240 as project_thumb %}
{% endif %}
<div class="card project {% if large %}project-large{% endif %}"
{% if page.image %}style="background-image:url('{{ project_thumb.url }}')"{% endif %}>
{% if page.cdh_built %}<div class="cdh-built">Built by CDH</div>{% endif %}
{% if page.website_url %}<a class="external" title="Project Website" href="{{ page.website_url }}"> </a>{% endif %}
    <a href="{{ page.get_url }}">
    <div class="content">
        <h2>{{ page.title|safe }}</h2>
        <p>{{ page.short_description|safe }}</p>
    </div>
    </a>
</div>
