{% load static %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ GTAGS_ANALYTICS_ID }}"></script>
<script nonce="{{ request.csp_nonce }}">
    /*
      Google Analytics gtags snippet to be included if analytics are enabled.
    */
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ GTAGS_ANALYTICS_ID }}');

</script>
{# plausible analytics #}
<script defer data-domain="cdh.princeton.edu" src="https://plausible.io/js/script.file-downloads.hash.outbound-links.js"></script>
<script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>
