{# attachment cards; stored as a StreamField (see cdhweb.pages.BasePage) #}
<div class="attachments">
{% for attachment_block in page.attachments %}
{% with attachment=attachment_block.value %}
<div class="attachment card {{ attachment.file_extension|default:"url" }}">
    <a href="{{ attachment.url }}">
        <h2>{{ attachment.title }}</h2>
        {% if attachment.author %}
        <div class="author">{{ attachment.author }}</div>
        {% endif %}
    </a>
</div>
{% endwith %}
{% endfor %}
</div>
