{% load wagtailcore_tags wagtailimages_tags %}
<div id="carousel">
    {% for post in updates %}
    {% if post.featured_image %}
    {% image post.featured_image fill-1440x680 as post_img %}
    {% endif %}
    <div class="post-update{% if forloop.first %} active{% endif %}">
        <header{% if post_img %} style="background-image: url('{{ post_img.url }}')"{% endif %}>
            <div class="header-overlay"></div>
        </header>
        <a href="{% pageurl post %}">
        <div class="post-update-text">
                <div class="quote">"</div>
                <div class="heading">Updates</div>
                <div class="line"></div>
                <h1 class="title">{{ post.short_title }}</h1>
                <p class="description">{{ post.short_description|safe }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
    {% if updates|length > 1 %}
    <div id="post-controls">
        {% for post in updates %}
            <a href="javascript:void(0);" title="Show slide {{ post.title }}">
                <div class="dot{% if forloop.first %} active{% endif %}" data-index="{{ forloop.counter0 }}"></div>
            </a>
        {% endfor %}
    </div>
    {% endif %}
</div>