{% load static %}
{% if perms.wagtailadmin.access_admin %} {# use same check as wagtailuserbar #}
{# jquery already included in base template #}
<link rel="stylesheet" media="screen" href="https://itmaybejj.github.io/editoria11y/css/editoria11y.css">
<script src="https://itmaybejj.github.io/editoria11y/js/editoria11y-prefs.js"></script>
{% if request.is_preview %} {# in preview mode, alert about any problems #}
<script>
ed11yAlertMode = "assertive";
</script>
{% endif %}
<script src="https://itmaybejj.github.io/editoria11y/js/editoria11y-localization.js"></script>
<script src="https://itmaybejj.github.io/editoria11y/js/editoria11y.js"></script>
{% endif %}