{% load wagtailcore_tags static %}


{% for column in footer_columns %}
        <div class="footer__column">

            <h2 class="footer__column-heading" >
                <span>{{ column.title }}</span>
            </h2>

            <ul class="footer__column-list">
                {% for item in column.column_items.all %}
                <li class="footer__item">
                    {% if item.title %}
                    <h3 class="footer__item-heading">
                        {{ item.title }}
                    </h3>
                    {% endif %}
                    <div class="footer__item-body rich-text">
                        {{ item.body|richtext }}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}

    {% for item in imprint_links.all %}
    <a href="{{ item.link_url }}">{{ item.title }}</a>
    {% endfor %}