{% load pages_tags %}
{# secondary and tertiary naviation for the top-level of the site #}
<div class="nav-card menu-{{ page.html_id }}">
    <div class="inner">
        <ul id="{{ page.html_id }}-secondary" class="secondary-nav" role="menubar" aria-labelledby="{{ page.html_id }}">
        {% for page in page_branch %}
            {% if '1' in page.in_menus %} {# workaround pages_tags limitation: explicitly check for primary nav option #}
            <li role="none">
                <a
                    id="{{ page.html_id }}"
                    role="menuitem"
                    href="{{ page.get_absolute_url }}"
                    {% if page.has_children_in_menu %} aria-owns="{{ page.html_id }}-tertiary"{% endif %}
                    {% if page.is_current %} aria-current="page"{% endif %}>{{ page.title }}</a>
                {% if page.has_children_in_menu %}
                    {% page_menu page "snippets/tertiary_navigation.html" %}
                {% endif %}
            </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
</div>