{# secondary and tertiary naviation for the top-level of the site #}
{% if navpages %}
<div class="nav-card menu-{{ navpage.slug }}">
    <div class="inner">
        <ul id="{{ navpage.slug }}-secondary" class="secondary-nav" role="menu" aria-labelledby="{{ navpage.slug }}">
        {% for navpage in navpages %}
            <li role="none">
                <a
                    id="{{ navpage.slug }}"
                    role="menuitem"
                    href="{{ navpage.get_url }}"
                    tabindex="-1"
                    {% if navpage.get_children.live.in_menu %} aria-owns="{{ navpage.slug }}-tertiary"{% endif %}
                    {% if navpage == page %} aria-current="page"{% endif %}>{{ navpage.title }}</a>
                {% include "snippets/tertiary_navigation.html" with navpages=navpage.get_children.live.in_menu %}
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
{% endif %}