{% load pages_tags i18n %}
{# top level menu, with secondary nav for current site section #}
{# adapted from mezzanine pages/menus/primary.html template #}
<div class="nav-main">
    <ul class='primary-nav' role="menubar" aria-label="main navigation">
        {# top-level pages #}
        {# first item will always be home ('/') #}
        {% for page in page_branch|slice:"1:" %}
            {% if page.in_menu %}
            <li role="none">
                <a
                    id="{{ page.html_id }}"
                    role="menuitem"
                    href="{{ page.get_absolute_url }}"
                    {% if forloop.first %} tabindex="0"{% else %} tabindex="-1"{% endif %}
                    {% if page.has_childen_in_menu %}
                    aria-owns="{{ page.html_id }}-secondary"
                    aria-haspopup="true"
                    aria-expanded="false"
                    {% endif %}
                    {% if page.is_current_or_ascendant %} aria-current="page"{% endif %}>{{ page.title }}
                </a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% for page in page_branch|slice:"1:" %}
    {% if page.has_children_in_menu %}
        {% page_menu page "snippets/navigation_card.html" %}
    {% endif %}
{% endfor %}
