{% load pages_tags i18n %}
{# top level menu, with secondary nav for current site section #}
{# adapted from mezzanine pages/menus/primary.html template #}
<div class="nav-main">
    <ul class='primary-nav' role="menubar" aria-label="main navigation">
        {# top-level pages #}
        {% for page in page_branch %}
            {% if page.in_menu %}
            <li>
                <a
                    id="{{ page.html_id }}"
                    role="menuitem"
                    aria-owns="{{ page.html_id }}-secondary"
                    aria-haspopup="true"
                    aria-expanded="false"
                    href="{{ page.get_absolute_url }}"
                    {% if page.is_current_or_ascendant %}class="current-page"{% endif %}>{{ page.title }}</a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% for page in page_branch %}
    {% if page.has_children_in_menu %}
        {% page_menu page "snippets/navigation_card.html" %}
    {% endif %}
{% endfor %}
