{# secondary navigation for the top-level of the site #}
{% if page.has_children_in_menu %}
<ul class="secondary-nav {{ page.html_id }} {% if page.in_menu and page.is_current_or_ascendant %}active{% endif %}">
    {% for page in page_branch %}
        {% if page.in_menu %}
        {# TODO: do we need ids or current tag here? #}
        <li id="menu-{{ page.html_id }}"
            class="{% if page.is_current_or_ascendant %}current-page{% endif %}">
            <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
        </li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}