<section class="subscribe">
    <!-- MailChimp Signup Form -->
    <form action="https://princeton.us16.list-manage.com/subscribe/post?u=a77a39541c9fc9c8b625cb379&amp;id=3f268a40cb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <label for="mce-EMAIL">Subscribe to our newsletter</label>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required/>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a77a39541c9fc9c8b625cb379_3f268a40cb" tabindex="-1" value=""></div>
        <input type="submit" value="Submit" name="subscribe"/>
    </form>
</section>