@import "neat/neat";

// small, medium, large max widths and content widths defined
// in variables

$gutter: 30px;

// set medium viewport grid as default
$neat-grid: (
    columns: 9,
    gutter: $gutter,
    media: $medium-min-width
);

// large grid for over 1068 px
$large-grid: (
    columns: 12,
    gutter: $gutter,
    media: $large-min-width
);


