@import "normalize";
@import "bourbon/bourbon";
@import "base/base";
@import "grid-settings";
@import "fonts";


/* nearly all block elements should be full-width on mobile */
header, div, p, img, section, article {
	@media (max-width: $small-max-width) {
		@include full-grid-width();
	}
}

/* container with max-width for large, medium, and small viewports */
.responsive-container {
    max-width: $large-content-width;
    margin: auto;
    @media (max-width: $medium-max-width) {
        max-width: $medium-content-width;
    }

    @media (max-width: $small-max-width) {
        max-width: $small-content-width;
        min-width: $small-min-width;
    }
}

#maincontent {
	@extend .responsive-container;
}

/* add full-bleed carousel images on homepage */
.homepage {
	margin-top: -$header-nav-height;

	@media (max-width: $small-max-width) {
		margin-top: -$small-header-nav-height;
	}

	#maincontent {
		position: relative;
		margin-top: 30px;
	}

	&.with-carousel {
		#maincontent {
			margin-top: 0;
			top: -70px;

			@media (max-width: $small-max-width) {
				top: -10px;
			}
		}
	}

}


div.bleed-image-placeholder {
	width: 100%;
	height: 300px;
	max-width: 1440px;
	background-color: lightpink;
	z-index: -5;
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	margin-top: 90px;
	margin-left: auto;
	margin-right: auto;
}

div.spacer {
	height: 340px;
}

/* mixin for diagonal blue stripes background */
@mixin diagonal-blue-stripes {
	background: repeating-linear-gradient(
	  45deg,
	  white,
	  white 16px,
	  $cdh-blue 4px,
	  $cdh-blue 20px
	);
}

@mixin dark-blue-gradient {
	/* fallback background gradient for pages without an image */
	background: $dark-cdh-blue; /* For browsers that do not support gradients */
	background: linear-gradient($dark-cdh-blue, transparent);
}

@mixin large-card {
	max-width: 310px;
	@media (min-width: $medium-min-width) {
	 	@include grid-column(4);
		max-width: none;
	 }
}

@mixin small-card {
	max-width: 225px;
	@media (min-width: $medium-min-width) {
	    @include grid-column(3);
		max-width: none;
	}
}

/* small label with cdh shadow; used for event card event type and elsewhere */
@mixin cdh-shadow-label {
	border: 2px solid $cdh-blue;
	box-shadow: 5px 5px 0px $cdh-blue;
	background-color: white;
	color: black;
	font-family: $font-stack-headline-bold;
	font-size: 12px;
	padding: 1px 5px;
}

article.landing-page {
	/* undo default body margin to clear top nav */
	margin-top: -($header-nav-height*2);
    @media (max-width: $small-max-width) {
    	margin-top: -120px;  /* ?? */
    }
	// padding-top: 90px;
	width: 100%;
	position: relative;

	header {
		/* NOTE: styles currently for landing pages, may need adjustment */
		width: 100%;
		max-width: none;
		height: 680px;
		position: relative;
		z-index: 1;

		font-family: $font-stack-headline;
		font-size: 64px;
		color: #ffffff;
		text-align: left;
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;

		&.no-background {
			/* needs to be separate because otherwise image doesn't scale properly */
			@include dark-blue-gradient;
		}

	    @media (max-width: $small-max-width) {
  	    	height: 320px;
  	    }

		div {
			@extend .responsive-container;
			padding-top: 336px;
		    @media (max-width: $small-max-width) {
  				padding-top: 88px;
	  	    }
		}
		a.home {
			color: $cdh-blue;
			display: inline-block;
			font-weight: normal;
			text-decoration: none;
			font-family: $font-stack-headline;

		    @media (max-width: $small-max-width) {
		    	font-size: 32px;
		    }
		}
		h1 {
			font-size: 100%;
			font-family: $font-stack-headline;
			display: inline-block;
			margin-bottom: 10px;
	    	font-weight: normal;

		    @media (max-width: $small-max-width) {
		    	font-size: 32px;

		    }
		}
		p {
			margin-top: 0;
			font-size: 20px;
			/* FIXME: according to design font should be brown-std-alt ? */
			line-height: 1.2;

		}
		p::before {
			content: "< ";
			color: $cdh-blue;
		}
		p::after {
			content: " >";
			color: $cdh-blue;
			display: inline;
		}
	}

	#maincontent {
		margin-top: -116px;
		background-color: white;
		z-index: 4;  /* overlap background image from header */
		padding: 80px 170px 100px;
		position: relative;
		min-height: 250px;

	    @media (max-width: $medium-max-width) {
  	    	padding: 80px 85px 100px;
	    }

	    @media (max-width: $small-max-width) {
			margin-top: 0;
  	    	padding: 30px 0px 100px;
	    }
	}

	.attachments {
		background-color: white;
	}

}

.attachments {
	@extend .responsive-container;
	clear: both;

	@media (min-width: $medium-min-width) {
		@include grid-container;
	}
}


/* Custom mixin to generate css triangles at top left and bottom right
   to mimic the look of the cdh logo.  Argument is logo shadow width */
@mixin cdhlogo-shadow($width) {
	/* NOTE: might be able to use bourbon triangle mixin here, but this is working */

	/* triangle top right */
	&::after {
		width: 0;
		height: 0;
		border-top: $width solid $light-grey;
		border-left: $width solid transparent;
		content: ' ';
		position: absolute;
		right: 0;
		top: 0;
	}

	/* triangle bottom left */
	&::before {
		width: 0;
		height: 0;
		border-bottom: $width solid $light-grey;
		border-right: $width solid transparent;
		content: ' ';
		position: absolute;
		left: 0;
		bottom: 0;

	}
}

/* carousel layout - featured posts & updates */

#carousel,
#carousel .post-update,
#carousel .post-update header {
	height: $carousel-height;
	width: 100%;

	@media (max-width: $small-max-width) {
		height: $small-carousel-height;
	}
}

#carousel {
	display: block;
	position: relative;
	top: -$header-nav-height;

	@media (max-width: $small-max-width) {
		height: 100%;
		top: -$small-header-nav-height;
	}

	a {
		text-decoration: none;
	}

	#post-controls {
		display: flex;
		justify-content: center;
		position: relative;
		top: $carousel-height - 30px;

		@media (max-width: $small-max-width) {
  	    	display: none;
	    }

		a {
			cursor: pointer;
			padding: 0 8px;
		}

		.dot {
			margin: auto;
			background-color: $dark-grey;
			border-radius: 100%;
			width: 10px;
			height: 10px;

			&.active {
				background-color: $cdh-blue;
			}
		}
	}

	.post-update {
		position: absolute;
		top: 0;
		display: block;
		transition: opacity 1s ease;
		opacity: 0;

		@media (max-width: $small-max-width) {
			position: relative;
			transition: none;
			opacity: 100;
		}

		&.active {
			opacity: 100;
		}

		header {
			background-image: url('/static/img/post-default-background.jpg');
			background-color: rgba(0, 0, 0, 0.2); // dark grey fallback
			background-size: cover;
			background-position: 50% 50%;
			background-repeat: no-repeat;

			@media (max-width: $small-max-width) {
				height: 200px;
			}
		}

		.header-overlay {
			width: 100%;
			height: 100%;
			background-color: rgba($cdh-blue, 0.2); // tint the header image
			opacity: 20;
		}

		.post-update-text {
			position: relative;
			z-index: 4;
			margin: auto;
			top: -392px;
			width: 990px;
			height: 320px;
			background-color: $base-background-color;
			padding: 45px 86px;

			@media (max-width: $medium-max-width) {
				width: 735px;
				padding: 40px 30px;
			}

			@media (max-width: $small-max-width) {
				top: 0;
				width: 100%;
				padding: 10px 25px;
			}

			.quote {
				display: none;
				position: absolute;
				color: $cdh-blue;
				font-size: 8em;
				font-family: $font-stack-headline-bold;
				font-style: italic;
				transform: rotate(180deg);
				margin: -275px -125px;
				z-index: 5;

				@media (min-width: $medium-max-width) {
					// display: block;
				}
			}

			.heading {
				margin: 5px 0;
			}

			.line {
				width: 30px;
				height: 4px;
				background-color: $cdh-blue;
				margin: 20px 0;

				@media (max-width: $small-max-width) {
					margin: 10px 0;
				}
			}

			.title {
				font-size: 2em;
				color: $black;
				margin-bottom: 20px;

				@media (max-width: $small-max-width) {
					font-size: 1.25em;
					margin-bottom: 10px;
				}
			}

			.heading,
			.description {
				font-size: 0.75em;
				color: $dark-grey;
				font-family: $font-stack-headline;
				line-height: normal;

				@media (max-width: $small-max-width) {
					font-size: 1em;
				}
			}
		}
	}
}

#spacer { // used if there are no blog posts of any kind for carousel
	height: 150px;
}

/* card layouts - projects, events */

$event-card-height: 425px;
$event-card-img-height: 240px;

.card {
	position: relative;
	margin-bottom: 50px;
	@include diagonal-blue-stripes;

	h2 {   /* card-head in zeplin */
		font-family: $font-stack-headline-bold;
		font-size: 18px;
		color: #000000;
		margin-top: 0;
	}

	a {
		text-decoration: none;
		color: $dark-grey;
		display: block;  /* make the whole card clickable */
		width: 100%;
		height: 100%;
	}

	.content {  /* card-description font */
		font-family: $font-stack-headline;
		font-size: 16px;
		background-color: white;
	}

	/* event cards */
	&.event {
		@include large-card;

		height: $event-card-height;
		/* background options for when an image is added in the template */
		// background-size: cover;
	 	background-size: contain !important;
		/* background-position: 50% 50%;  maybe? */
		background-repeat: no-repeat;

		> a {
			display: grid;
			grid-template-rows: $event-card-img-height 155px 35px;
			grid-row-gap: 0;
			grid-template-areas:
				"image"
				"content"
				"when";

			> *  {
				padding: 15px;
			}
		}

		.content {
			grid-area: content;
			h2 {
				margin-bottom: 0;
			}
		}

		.event-type {
			position: absolute;
			z-index: 5;
			top: -12px;
			left: 15px;
			@include cdh-shadow-label;
/*
			border: 2px solid $cdh-blue;
			box-shadow: 5px 5px 0px $cdh-blue;
			background-color: white;
			color: black;
			font-family: $font-stack-headline-bold;
			font-size: 12px;
			padding: 1px 5px; */
		}
		.when {
			grid-area: when;
			color: $dark-grey;
			background-color: white;
			font-family: $font-stack-headline;
			align-self: end;
			padding: 5px 15px 15px;
			font-size: 16px;
			line-height: 19px;
		}
		.time {
			padding-left: 20px;
		}
		.presenter {
			font-family: $font-stack-headline;
		}

	} /* end event card */

	/* project cards */
	&.project {
		@include small-card;
		height: 170px;
	 	background-size: cover;

	 	/* add space for link and 'built by cdh' indicators */
	 	margin-top: 30px;

		h2 {
			margin-bottom: 5px;
		}

		@include cdhlogo-shadow(40px);

		&:hover {
			/* using important to override background image set in template */
		 	background: $cdh-blue !important;
		}
		a {
			background-color: white;
			// full width and height minus border
			width: calc(100% - 40px);
			height: calc(100% - 40px);
			padding: 15px;
			margin: 0;
			overflow: hidden;
		}

		p {
			font-family: $font-stack-body-text;
			font-style: italic;
			font-size: 15px;
			color: $dark-grey;
			line-height: 1.33;
			margin: 0;
		}

		a.external {
			position: absolute;
			display: inline-block;
			top: -35px;
			right: 55px;
			width: 30px;
			height: 30px;
			background-image: url('../img/icons/CDH_icon_link.svg');
			background-repeat: no-repeat;
			background-color: transparent;
		}

		.cdh-built {
			@include cdh-shadow-label;
			position: absolute;
			top: -35px;
			left: 15px;
		}

	}

	/* large project card */
	&.project-large {
		@include large-card;

		height: 233px;
		@include cdhlogo-shadow(55px);

		a {
			// full width and height minus border and padding
			width: calc(100% - 55px);
			height: calc(100% - 55px);
			padding: 15px;
		}

	}

	/* profile cards */
	&.profile {
		@include large-card;
		display: block;
		position: relative;
		background: none; /* no blue stripes */

		/* styles for image as photo */
		background-size: contain;
		background-repeat: no-repeat;
		height: 305px;

		a {
			display: block;  /* make the whole card clickable */
			position: absolute;
			width: 100%;
			height: 100%;
		}

		.content {
			margin-top: 240px;
			padding-top: 15px;
			background-color: $light-grey;
			font-family: $font-stack-headline-bold;
			width: 100%;

			.title {
				font-size: 18px;
				margin: 0;
				color: $dark-grey;
		  		font-family: $font-stack-body-text;
		  		font-style: italic;
			}
			.name {
				margin: 0;
				font-weight: bold;
				font-size: 18px;
				color: black;
			}
		}

		@media (max-width: $small-max-width) {
			width: 100%;
			margin-left: 0;
			float: none;
		}


		h2 {
			margin-bottom: 0;
		}
	}

	&.attachment {
		@include small-card;
		background: none;
		position: relative;

		/* use this to make the card square -
		   via https://stackoverflow.com/questions/38998423/bourbon-neat-square-grid */
 	    &::before {
	   		content: "";
		    display: block;
		    padding-top: 100%;
  	    }

		a {
			position: absolute;
			top: 0;
			left: 0;
			display: block;

			border: solid 2px #d8d8d8;
			width: 100%;
			height: 100%;
			padding: 15px;

			display: flex;
			flex-direction: column;
			justify-content: flex-end;
		    align-items: flex-end;

		    h2, div {
		    	display: block;
		    	width: 100%;
		    	margin-bottom: 0;
		    }
		    .author {
		    	font-family: $font-stack-headline;
		    	padding: 0;
		    }

			&:hover {
				border: solid 2px $action-color;
			}

			&::after {
				content: " ";
				position: absolute;
				z-index: 5;
				top: -12px;
				right: 15px;
				width: 42px;
				height: 52px;
				background-image: url('../img/icons/CDH_icon_doc.svg');
				background-size: contain;
				background-repeat: no-repeat;
			}
		}

		/* variant icons */
		&.pdf {
			a::after {
				background-image: url('../img/icons/CDH_icon_pdf.svg');
			}
		}
		&.video {
			a::after {
				background-image: url('../img/icons/CDH_icon_vid.svg');
			}
		}
		&.url {
			a::after {
				background-image: url('../img/icons/CDH_icon_link.svg');
			}
		}
	}

}


.homepage section, section.events, section.projects, section.people {
    @media (min-width: $medium-min-width) {
		@include grid-container;
	}
	h2 {
		@include full-grid-width;
	}
}

@mixin header-with-icon {
	/* font-family: BrownStd-Alt;    ?? */
	font-family: $font-stack-headline;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 54px;
	letter-spacing: normal;
	color: $dark-grey;

	height: 54px;
	padding-left: 73px;
	vertical-align: middle;
	margin-bottom: 50px;

	background-repeat: no-repeat;
	background-size: 50px 54px;
}

.homepage section > h2, .events h1, .events > h2, .projects h1, .people h1 {
	@include header-with-icon;
	a {
		text-decoration: none;
		color: $dark-grey;
	}
	@media (min-width: $medium-min-width) {
 	   @include grid-column(9);
	}
    @media (min-width: $large-min-width) {
	    @include grid-column(12);
	}
}
// TODO: mixin for icons, support h1 for individual pages

.fixed {
	position: fixed;
}

.events > h2, .events h1 {
	background-image: url('../img/icons/CDH_icon_cal.svg');
	@include header-with-icon;
}

.projects > h2, .projects h1 {
	background-image: url('../img/icons/CDH_icon_folder.svg');
	@include header-with-icon;
}

.people > h2, .people h1 {
	background-image: url('../img/icons/CDH_icon_ppl.svg');
	@include header-with-icon;
}

.blogposts h1 {
	background-image: url('../img/icons/CDH_icon_doc.svg');
	@include header-with-icon;
}


// events or blogposts archives nav

/* display text content within event list (e.g. for no upcoming)
   at full grid or full content width. */
.events > div  {
 	padding-bottom: 15px;
	@media (min-width: $medium-min-width) {
	 	@include grid-column(9);
	}
    @media (min-width: $large-min-width) {
	    @include grid-column(12);
	}
}

.archive-nav {
	font-family: $font-stack-headline;
	font-size: 16px;
	position: relative;

	a {
		text-decoration: none;
		color: $dark-grey;
	}

	.submenu {
		@include list-style-reset;
		display: none;
		background-color: $light-grey;
		background-color: rgba(248, 248, 248, 0.85);
		position: absolute;
		padding: 15px;
		right: 0;
		z-index: 6;


		.current a {
			border-bottom: 2px solid $cdh-blue;
		}

		li {
			white-space: nowrap;
		}

	}
}


.ribbon-box {
  @include size(350px);
  position: fixed;
  right: 0;
  top: 0;
  z-index: 11;
  background: transparent;
  font-size: 14px;

  opacity: 0.95;
  transition:opacity 0.2s;

  &.fade {
   opacity:0.3;
   pointer-events: none;
	  button {
	  	display: none;
	  }
  }

  h2 {
  	font-family: $font-stack-body-text;
  }

  button {
  	border: $light-grey;
  	border-radius: 5px;
  	color: black;
  	background-color: $light-grey;
  	padding: 5px;
  	margin-bottom: 5px;
  }
}

.ribbon-wrapper {
  $action-color: rgb(255, 69, 69) !default;
  $ribbon-background: $action-color;
  $ribbon-size: 375px;

  @include size($ribbon-size);
  overflow: hidden;
  position: absolute;
  right: -1px;
  top: -1px;

  .ribbon {
    background-color: $ribbon-background;
    color: #fff;
    font-size: 0.8em;
    right: -75px;
    line-height: 1.5em;
    padding: 2px 7px;
    position: relative;
    text-align: center;
    top: 55px;
    transform: rotate(45deg);
    width: 400px;
  }
}


.project-detail {

    overflow: auto;  /* include floated grid content */
    @include grid-container;

	header {
		@media (min-width: $medium-min-width) {
		    @include grid-column(6);
	  		@include grid-push(3);

		    @media (min-width: $large-min-width) {
			    @include grid-column(9);
		  	}
		  }

	    h2 {
		  font-size: modular-scale(-1);

		    @media (min-width: $large-min-width) {
			    @include grid-column(7);
			    margin-left: 0;
			}
		}

	  	.short_description {
	  		font-style: italic;
		    margin-left: 0;
		    margin-right: 0;

			@media (min-width: $large-min-width) {
				/* according to spec, should be 7 cols, but can't
				   get grid cols right due to nesting should be close enough */
			    width: 75%;
			}
	  	}
	}

	.contributors, .links {
		font-size: 18px;

		@media (min-width: $medium-min-width) {
			@include grid-column(3);
		}

		ul {
			list-style-type: none;
			color: $dark-grey;
			padding: 0;
			margin: 0;
			font-family: $font-stack-headline;

			li.role {
				margin-bottom: 15px;
				font-family: $font-stack-body-text;
			}
		}

		h3 {
			font-weight: normal;
			font-style: italic;
			font-size: 18px;
			margin-bottom: 0;
			font-family: $font-stack-body-text;
		}

        a {
	    	color: black;
	    	text-decoration: none;
	    	font-family: $font-stack-headline;
	    	font-size: 18px;
	    }

	    .cdh-built {
			@include cdh-shadow-label;
			margin-top: 25px;
			display: inline-block;
	    }

	}

	/* link section spans both columns; links in the left sidebar,
   	   project website in the main column to make it more visible */
	.links {
		/* duplicate grid to line up project url with main column */
		@media (min-width: $medium-min-width) {
		    @include grid-column(9);

		    @media (min-width: $large-min-width) {
			    @include grid-column(12);
		  	}
		}

		margin-bottom: 25px;

		li.website a {
			@media (min-width: $medium-min-width) {
				@include grid-container;
				span {
				    @include grid-column(3);
				}
			}

			/* secondary display of website url, to emphasize */
			.url {
				/* hide on mobile */
				@media (max-width: $small-max-width) {
					display: none;
				}

				@media (min-width: $medium-min-width) {
			  		@include grid-push(3);
				    @include grid-column(9);
			  }
			  font-size: 115%;
			  text-indent: 0;
			}
		}

		a:hover {
		    background-color: $light-cdh-blue;
  	 	}

  	 	/* TODO: refactor similar styles, reuse on profile page */

		/* icons for different link types */
		li.website a {
			background-image: url('../img/icons/CDH_icon_link.svg');
			background-repeat: no-repeat;
			background-size: 30px 30px;
			text-indent: 35px;  /* padding pushes the grid */
			@media (max-width: $small-max-width) {
				/* tweak size & indent to align with other icons */
				background-size: contain;
				padding-left: 30px;
				margin-left: 5px;
				text-indent: 0px;
			}
		}

		/* github uses font-awesome */
		li.github a {
			&::before {
			    display: inline-block;
			    font-style: normal;
			    font-variant: normal;
			    text-rendering: auto;
			    -webkit-font-smoothing: antialiased;
			    // font-family: "Font Awesome 5 Free";
			    font-family: "Font Awesome 5 Brands";
			    font-weight: 900;
			    content: "\f09b";  /* github  */
			    // content: "\f092";  /* github square */
			    // content: "\f121"; /* code */
			    width:30px;
			    text-align: center;
			    font-size: 20px;
			    color: $dark-grey;
			}
			padding-left: 0;
		}

		/* twitter also uses font-awesome */
		li.twitter a {
			&::before {
			    display: inline-block;
			    font-style: normal;
			    font-variant: normal;
			    text-rendering: auto;
			    -webkit-font-smoothing: antialiased;
			    font-family: "Font Awesome 5 Brands";
			    font-weight: 900;
			    content: "\f099";  /* github  */
			    width:30px;
			    text-align: center;
			    font-size: 20px;
			    color: $dark-grey;
			}
			padding-left: 0;
		}


	}

	.description {

		@media (min-width: $medium-min-width) {
			@include grid-column(6);
		    @media (min-width: $large-min-width) {
			    @include grid-column(9);
			}
		}

		@media (max-width: $small-max-width) {
			margin-bottom: 100px;
	    }

		img {
			max-width: 100%;
			margin: 0 auto 50px;
		}
		p {
			margin-top: 0;
		}
	}


}


.profile {
	/* very similar to project detail;
	  TODO: make mixins or includes for common layout */
	@include grid-container;

	header {
		@media (min-width: $medium-min-width) {
	  		@include grid-push(3);
  			@include grid-column(7);
		}

	    h1 {
	    	margin-bottom: 5px;
	    }

	  	.title {   /* equiv to project short_description */
	  		font-style: italic;
	  		font-family: $font-stack-body-text;
	  		color: $dark-grey;
	  		font-size: 21px;
	  		line-height: 1.52;

	  		margin: 0;
	  		padding: 0;
	    	width: auto;
	    	&:last-child {
		    	margin-bottom: 30px;
		    }

		    @media (min-width: $large-min-width) {
			    @include grid-column(7);
			}

	  	}
	}
	.links {
		/* same sidebar layout as project contributors */
		text-transform: capitalize;
		margin-bottom: 35px;

		@media (min-width: $medium-min-width) {
			@include grid-column(3);
		}

		ul {
			list-style-type: none;
			color: $dark-grey;
			padding: 0;
		}

		 a {
	    	color: black;
	    	text-decoration: none;
	    	font-family: $font-stack-headline;
	    	font-size: 18px;
	    }
	}

	img {
		margin: 0 0 50px 0;
    	width: auto;

		@media (min-width: $medium-min-width) {
			@include grid-column(5);
		}
	}

	.education {
		color: $dark-grey;
		font-family: $font-stack-headline;
		font-size: 18px;
		margin-bottom: 35px;

		@media (min-width: $medium-min-width) {
			@include grid-column(4);
		    @media (max-width: $medium-max-width) {
				@include grid-push(3);
			}
		}
	    a {
	    	color: $dark-grey ;
	    	text-decoration: none;
	    }

	    ul {
	    	@include list-style-reset;

	    	li {
	    		margin-bottom: 20px;
	    	}
	    }
	}
	p {
		margin-top: 0;
	}

	.bio {
		@media (min-width: $medium-min-width) {
			@include grid-column(6);
			@include grid-push(3);
		}
    	@media (min-width: $large-min-width) {
			@include grid-column(8);
		}

	}


}

.event-detail {
	/* very similar to project detail and profile;
	  TODO: make mixins or includes for common layout */
	@include grid-container;

	header {
		@media (min-width: $medium-min-width) {
	  		@include grid-push(3);
  			@include grid-column(7);
  		}

	  	.short_description {   /* equiv to project short_description */
	  		font-style: italic;
	  		font-family: $font-stack-body-text;
	  		color: $dark-grey;
	  		font-size: 21px;

			@media (min-width: $medium-min-width) {
			    @include grid-column(6);
			}
    		@media (min-width: $large-min-width) {
			    @include grid-column(7);
			}

	  	}
	}
	.details {
		/* same sidebar layout as project contributors */
		margin-bottom: 35px;
		font-family: $font-stack-headline;
		color: $dark-grey;
		font-size: 18px;
		line-height: 1.22;

		@media (min-width: $medium-min-width) {
			@include grid-column(3);
		}

		ul {
			list-style-type: none;
			color: $dark-grey;
			padding: 0;
		}

		 a {
	    	color: $dark-grey;
	    	text-decoration: none;
	    	font-family: $font-stack-headline;
	    	font-size: 18px;

	    }

    	.ical {
    		margin-top: 37px;
    		padding-top: 75px;
    		display: inline-block;
			background-image: url('../img/icons/CDH_icon_cal.svg');
			background-size: 50px 54px;
			background-repeat: no-repeat;
    	}

	    .location {
	    	margin-top: 16px;
	    }
	}

	img {
		margin: 0 0 50px 0;
    	width: auto;
	}

	.description {
		@media (min-width: $medium-min-width) {
			@include grid-column(6);
		}
	    @media (min-width: $large-min-width) {
		    @include grid-column(9);
		}

		img {
			max-width: 100%;
			margin: 50px auto;
		}
		p {
			margin-top: 0;
		}
	}

}

section.blogposts, section.people, section.events {
	@include grid-container;

	h1 {
		@media (min-width: $medium-min-width) {
			@include grid-column(7);
		}
	    @media (min-width: $large-min-width) {
			@include grid-column(10);
		}
		@media (max-width: $small-max-width) {
			@include full-grid-width;
			margin-bottom: 5px;
		}
	}

	.archive-nav {
		@include grid-column(2);
		justify-self: end;
		float: none;
		margin: 0;
		> a {
			line-height: 54px;   /* match h1 vertically */
		}

		@media (max-width: $small-max-width) {
		    grid-column: start / end;
		    justify-self: center;
		    margin-bottom: 50px;
		}

	}

	.blogpost {
	    @media (min-width: $medium-min-width) {
			@include grid-push(1);
			@include grid-column(7);
		}
	    @media (min-width: $large-min-width) {
			@include grid-push(2);
			@include grid-column(8);
		}

	}
}

@mixin content-page {
	/* for blog posts and text content pages */
	padding: 0;
	margin-bottom: 50px;


    @media (min-width: $medium-min-width) {
		@include grid-push(1);
		@include grid-column(7);
	}

    @media (min-width: $large-min-width) {
		@include grid-push(2);
		@include grid-column(8);
	}
}


body.blogpost {
	#maincontent {
		@include grid-container;
	}
}

.blogpost {
	// margin-top: 340px; // currently handled by spacer div
	@include content-page;

	header {
		h1 {
			margin-top: 250px - $header-nav-height;
			margin-bottom: 50px;

			@media (max-width: $small-max-width) {
				margin-top: 0;
			}
		}

		.byline {
			font-family: $font-stack-headline;
			font-size: 16px;
			color: $dark-grey;
			margin-bottom: 50px;

			.authors {
				padding-right: 37px;
				display: inline-block;

				@media (max-width: $small-max-width) {
					display: block;
					padding-right: 0;
				}
			}
		}

		a {
			color: $dark-grey;
			text-decoration: none;
		}
	}

	p {
		margin-bottom: 50px;
	}

	.keywords {
		font-size: 90%;
		color: $dark-grey;
	}
}

/* same width/side margins as blog post content */
body.richtextpage {

	#maincontent {
		padding: 0;
		margin-bottom: 50px;
		@include grid-container;

		> div, h1, header {
			@include content-page;
		}
	}
}


.pagination, .feeds {
	text-align: center;
	color: $dark-grey;
	a {
		text-decoration: none;
		color: $dark-grey;

		&.current {
		  /* use background to do a colored underline */
		  background-image: linear-gradient(to right, $cdh-blue 100%, transparent 0%);
		  background-position: 0 0.85em;
		  background-repeat: repeat-x;
		  background-size: 8px 2px;
		}
	}
}

.feeds {
	@extend .responsive-container;
	text-align: left;
	font-size: small;
	margin-top: 50px;
	font-family: $font-stack-headline;
}

.error-page {
	img {
		width: 50%;
	}
}
