{% extends 'base.html' %}
{% load wagtailcore_tags springkit_tags wagtailroutablepage_tags %}

{% block body_class %}template-blog-landing{% endblock %}

{% block main %}
    {% include 'includes/breadcrumbs.html' with breadcrumbs=self.breadcrumbs current_page=self %}
    {% include 'includes/standard_hero.html' %}

    <div class="content-width grid-standard page-layout page-layout--without-sidenav-wider">
        <div class="page-layout__main-content">

          <div class="simple-filter-bar" class="u-no-js-hide">
            <label for="blog-date-filter">
              Show
              <span class="sr-only">(Note: page will reload)</span>
            </label>
            <select id="blog-date-filter" data-component="select-navigator">
              {% pageurl self as latest_url %}
              <option data-href="{{ latest_url }}" {% if request.path == latest_url %}selected{% endif %}>Recent</option>

              {# Group months by year #}
              {% for archive_date in date_list %}
                {% ifchanged %}
                  <optgroup label="{{ archive_date.year }}">
                {% endifchanged %}

                {% routablepageurl self 'by-month' year=archive_date.year month=archive_date|date:"m" as blog_url %}
                <option data-href="{{ blog_url }}" {% if blog_url == request.path  %}selected{% endif %}>{{ archive_date|date:"F" }}</option>

                {% ifchanged %}
                  </optgroup>
                {% endifchanged %}
              {% endfor %}
            </select>
          </div>

          <div class="tiles__list">
            {% for post in posts %}
              {% include 'cdhpages/blocks/tile.html' with internal_page=post tile_type='internal_page_tile' %}
            {% endfor %}
          </div>

          {% if is_paginated %}
            {% include "includes/pagination.html" %}
          {% endif %}
        </div>

    </div>

{% endblock %}
