{% load wagtailcore_tags custom_tags %}

<div class="block block--accordion">

  {% if self.heading %}
    {% include_block self.heading %}
  {% endif %}

  {% if self.description %}
    {{ self.description }}
  {% endif %}

  <div data-component="accordion" class="sk-accordion">
    {% for item in self.accordion_items %}
      {% get_accordion_heading_display item.heading as label %}
      {% if self.heading.heading %}
        <h3 class="sr-only">{{ label |default:item.heading }}</h3>
      {% else %}
        <h2 class="sr-only">{{ label |default:item.heading }}</h2>
      {% endif %}
      <details>
        <summary aria-label="Toggle section: {{ item.heading }}">
          {{ label |default:item.heading }}
          {% include 'includes/svg.html' with sprite="two-tone" svg="chevron-up" classes="sk-accordion__chevron-up" %}
          {% include 'includes/svg.html' with sprite="two-tone" svg="chevron-down" classes="sk-accordion__chevron-down" %}
        </summary>
        <div class="sk-accordion__content">
          {{ item.body|richtext }}
        </div>
      </details>
    {% endfor %}
  </div>
</div>