{% load wagtailcore_tags wagtailimages_tags %}

{% comment %}
    BED TODO – is the following accurate?:
    This should be the same style and markup as `tile.html`. The only reason it's separate
    is because the person content isn't a page type. It was just a lot simpler to make a new
    copy of the tile template here than to make tile.html even more complex by supporting non-page content.
{% endcomment %}

<div class="tile">
    <div class="tile__text">
        <a class="tile__link" href="{% if person.profile_url %}{{ person.profile_url }}{% endif %}">
            <h2>{% firstof person.profile.title person %}</h2>
        </a>
        <p>{{ person.position }}</p>
    </div>
    <div class="tile__img-wrapper">
        {% if person.profile.feed_image %}
            {% image person.profile.feed_image fill-900x493 as image %}
            <img src="{{ image.url }}" alt="{{ image.alt }}" />
        {% elif person.profile.hero_image %}
            {% image internal_page.specific.image fill-900x493 as image %}
            <img src="{{ image.url }}" alt="{{ image.alt }}" />
        {% elif person.image %}
            {% image person.image fill-900x493 as image %}
            <img src="{{ image.url }}" alt="{{ image.alt }}" />
        {% endif %}
    </div>
</div>
