{% load wagtailcore_tags %}

{% if self.heading or self.see_more_link.page %}
  <div class="tiles__title-wrapper">
    {% if self.heading %}
        {% include_block self.heading %}
    {% endif %}

    {% if self.see_more_link.page %}
      <a href="{{ self.see_more_link.url }}">
          {{ self.see_more_link.title }}
      </a>
    {% endif %}
  </div>
{% endif %}

{% if self.description %}
  <div class="tiles__intro">
    {{ self.description }}
  </div>
{% endif %}

<div class="tiles__list">
    {% for tile in tiles %}  
      {% include 'cdhpages/blocks/tile.html' with internal_page=tile.value.page tile_type=tile.block.name has_component_title=self.heading.heading %}
    {% endfor %}
</div>