// Has `.grid-standard`
.page-layout {
  & > * {
    grid-column: 1 / -1;

    @include md {
      grid-column: 2 / -1;
    }
    @include lg {
      grid-column: 3 / -2;
    }
  }
}

// From xl, with- and without-sidenav layouts diverge
.page-layout--without-sidenav {
  // m = main content
  @include xl {
    grid-template-areas: '. . m m m m m m m . . .';
  }
  @include xxxl {
    grid-template-areas: '. . m m m m m m . . . .';
  }
}
.page-layout--with-sidenav {
  // m = main content
  // s = side-nav

  @include xl {
    grid-template-areas: 's s s . m m m m m m m .';
  }
  @include xxxl {
    grid-template-areas: 's s . m m m m m m . . .';
  }
}

.page-layout__main-content {
  @include xl {
    grid-area: m;
  }
}

.page-layout__sidenav {
  // V space between sidenav and main content when stacked:
  margin-block-start: 56px;

  // Move it away from the side on narrow viewports, so 3d box has room.
  // grid-column: 2 / -3;

  @include sm {
    margin-block-start: 80px;
    // grid-column: 1 / -2;
  }
  @include md {
    margin-block-start: 104px;
  }

  @include xl {
    grid-area: s;
    margin-block-start: 0; // unstacked now
  }
}
