.streamfields-wrapper {
  // The flex column layout is to disable collapsing margins.
  // Usually collapsing margins is fine, but the 3d boxes have absolute-
  // positioned box overhang. Unfortunately, adding this amount as an extra
  // margin-bottom on the element that has the 3d box doesn't do anything,
  // because "collapsing margins" assumes we didn't want that extra space.
  display: flex;
  flex-direction: column;

  & > * + * {
    // Default big space above each streamfield
    margin-block-start: var(--streamfield-space-lg);

    // Cases where there should be a small space above:
    &:where(
        :is(
            .block-image,
            .block-table,
            .block-note,
            .block-rich_text,
            .block-heading + *
          )
      ) {
      margin-block-start: var(--streamfield-space-sm);
    }
  }

  & > * {
    // Cap width of some (most?) streamfield block types
    &:where(
        .block-accordion_block,
        .block-table,
        .block-rich_text,
        .block-download_block,
        .block-cta_block,
        .block-note,
        .block-pull_quote,
        .block-video_block,
        .block-hosted_video_block
      ) {
      max-inline-size: var(--reading-max-width);
    }
  }

  // Outdented components:
  :where(
      .block-heading,
      .block-accordion_block > h2,
      .block-video_block > h2,
      .block-hosted_video_block > h2
    ) {
    @include lg {
      margin-left: calc(-1 * var(--content-outdent));
    }
  }
}
