.streamfields-wrapper {
  & > * + * {
    // Default big space above each streamfield
    margin-block-start: var(--streamfield-space-lg);

    // Cases where there should be a small space above:
    &:where(:is(.block-image, .block-table, .block-note, .block-rich_text)) {
      margin-block-start: var(--streamfield-space-sm);
    }

    // &:where(.block-heading + .block-rich_text) {
    //   margin-block-start: var(--streamfield-space-sm);
    // }
  }

  & > * {
    // Cap width of some (most?) streamfield block types
    &:where(
        .block-accordion_block,
        .block-table,
        .block-rich_text,
        .block-download_block,
        .block-cta_block,
        .block-note,
        .block-pull_quote,
        .block-video_block
      ) {
      max-inline-size: var(--reading-max-width);
    }
  }

  // Outdented components:
  :where(.block-heading, .block-accordion_block > h2) {
    @include lg {
      margin-left: calc(-1 * var(--content-outdent));
    }
  }
}
