{% load wagtailcore_tags wagtailimages_tags %}
{# display a single event in card format #}
{# FIXME: significant overlap with event_detail, esp. for schema properties #}
{% if page.thumbnail %}
    {% image page.thumbnail max-310x240 as event_thumb %}
{% endif %}
<div class="card event" typeof="schema:Event">
    <a property="schema:url" href="{{ page.get_url }}">
        <div class="event-type">{{ page.type }}</div>
        <div class="image" {% if page.thumbnail %}style="background-image:url('{{ event_thumb.url }}')"{% endif %}></div>
        <div class="content">
            <h2 property="schema:name">{{ page.title }}</h2>
            <div class="presenter">
                {% for speaker in page.speakers.all %}
                <div property="schema:performer" typeof="schema:Person">
                    <span property="schema:name">{{ speaker.person }}</span>
                </div>
                {% endfor %}
            </div>
            <meta property="schema:startDate" content="{{ page.start_time|date:'c' }}"/>
            <meta property="schema:endDate" content="{{ page.end_time|date:'c' }}"/>
            {# location is required for schema.org #}
            <div property="schema:location" typeof="{% if page.is_virtual %}schema:VirtualLocation{% else %}schema:Place{% endif %}">
                <meta property="schema:name" content="{{ page.location.name }}"/>
                {% if not page.is_virtual %}
                <meta property="schema:address" content="{{ page.location.address }}"/>
                {% elif page.join_url %}
                <meta property="schema:url" content="{{ page.join_url }}"/>
                {% endif %}
            </div>
        </div>
        <div class="when">
            {# if duration is more than one day, display start/end days #}
            <span class="day">{{ page.start_time|date:"F j" }}
                {# display date range for multiday event #}
                {% if page.duration.days >= 1 %} -
                {% if page.start_time.month != page.end_time.month %}{{ page.end_time|date:"F" }}{% endif %}
                {{ page.end_time|date:"j" }}
                {% endif %}
            </span>
            {# do not display time on card for multiday event #}
            {% if page.duration.days < 1 %}
            <span class="time">{{ page.start_time|date:"g:i" }}–{{ page.end_time|date:"g:i A" }}</span>
            {% endif %}
        </div>
    </a>
    {# description is recommended for schema.org #}
    <div style="display:none" property="schema:description">{{ page.search_description }}</div>
</div>