{% load wagtailcore_tags wagtailimages_tags %}
{# display a single event in card format #}
{# FIXME: significant overlap with event_detail, esp. for schema properties #}
{% if event.thumbnail %}
    {% image event.thumbnail max-310x240 as event_thumb %}
{% endif %}
<div class="card event" typeof="schema:Event">
    <a property="schema:url" href="{% pageurl event %}">
        <div class="event-type">{{ event.type }}</div>
        <div class="image" {% if event.thumbnail %}style="background-image:url('{{ event_thumb.url }}')"{% endif %}></div>
        <div class="content">
            <h2 property="schema:name">{{ event.title }}</h2>
            <div class="presenter">
                {% for person in event.speakers.all %}
                <div property="schema:performer" typeof="schema:Person">
                    <span property="schema:name">{{ person }}</span>
                </div>
                {% endfor %}
            </div>
            <meta property="schema:startDate" content="{{ event.start_time|date:'c' }}"/>
            <meta property="schema:endDate" content="{{ event.end_time|date:'c' }}"/>
            {# location is required for schema.org #}
            <div property="schema:location" typeof="{% if event.is_virtual %}schema:VirtualLocation{% else %}schema:Place{% endif %}">
                <meta property="schema:name" content="{{ event.location.name }}"/>
                {% if not event.is_virtual %}
                <meta property="schema:address" content="{{ event.location.address }}"/>
                {% elif event.join_url %}
                <meta property="schema:url" content="{{ event.join_url }}"/>
                {% endif %}
            </div>
        </div>
        <div class="when">
            {# if duration is more than one day, display start/end days #}
            <span class="day">{{ event.start_time|date:"F j" }}
                {# display date range for multiday event #}
                {% if event.duration.days >= 1 %} -
                {% if event.start_time.month != event.end_time.month %}{{ event.end_time|date:"F" }}{% endif %}
                {{ event.end_time|date:"j" }}
                {% endif %}
            </span>
            {# do not display time on card for multiday event #}
            {% if event.duration.days < 1 %}
            <span class="time">{{ event.start_time|date:"g:i" }}–{{ event.end_time|date:"g:i A" }}</span>
            {% endif %}
        </div>
    </a>
    {# description is recommended for schema.org #}
    <div style="display:none" property="schema:description">{{ event.search_description }}</div>
</div>