{% extends 'error_base.html' %}
{% load static wagtailcore_tags %}
{# defaults to 404, but pass error code and message for alternate use #}
{% firstof page_title 'Not Found' as title %}

{% block content %}
{% with desc=message|default:"We can't seem to find the page you're looking for." %}
{% with image_src='images/cdh_404.webp' %}
    {% include 'includes/error_hero.html' with title='Error 404' description=desc image_src=image_src %}
{% endwith %}
{% endwith %}
{% endblock %}

{% block extra_js %}
{% if PLAUSIBLE_ANALYTICS_404s %}
<script>document.addEventListener('DOMContentLoaded', function () { plausible('404', { props: { path: document.location.pathname } }); });</script>
{% endif %}
{% endblock %}