{% load static wagtailuserbar wagtailcore_tags wagtailimages_tags %}
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <title>Error 500</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript"> window.staticRoot = "{% static 'dist/' %}"; </script>
    {% include "core/includes/icons.html" %}

  </head>
  <body class="{% block body_class %}{% endblock %}">

    <div class="grid-full error-page-content">
      <h1>Error 500</h1>
      <p>Something went wrong. Please try reloading the page, or <a href="/">return to home</a>.</p>
    </div>

    {% if SENTRY_DSN_FED %}
      <script>Raven.config('{{ SENTRY_DSN_FED }}').install()</script>
    {% endif %}
  </body>
</html>
