{% load static pages_tags mezzanine_tags fullurl %}
<!DOCTYPE html>
<html lang='en' xmlns:schema="http://schema.org/" prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/profile#" {% block headattrs %}{% endblock %}>
<head>
    <meta charset='UTF-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {# Google Analytics recommends this implementation now #}
    {% if INCLUDE_ANALYTICS %}
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-87887700-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());
      gtag('config', 'UA-87887700-1');
    </script>
    {% endif %}
    <title>{% block page-subtitle %}{% if page %}{{ page.meta_title|add:" | "}}{% endif %}{% endblock %}CDH @ Princeton</title>
    {% if SHOW_TEST_WARNING %} {# test variant favicon to help differentiate test/prod sites #}
    <link rel="shortcut icon" href="{%  static 'favicon-test.ico' %}">
    {% else %}
    <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
    {% endif %}
    {% include 'snippets/head_meta.html' %}
    <meta name="google-site-verification" content="pS2kpksxg6JeC90IvA8BHVsFuK_6b7J_vARVLqqu7ck" />
    {% block extra-head %}{% endblock %}

    {% compress css %}
    <link type="text/x-scss" rel="stylesheet" href="{% static 'scss/site.scss' %}" charset="utf-8"/>
    {# <link rel='stylesheet' type='text/css' href='{% static "css/base-prefixed.css" %}'> #}
    {% endcompress %}

    <script src="https://use.fontawesome.com/46070f4452.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    {% compress js %}
    <script src="{% static 'js/local.js' %}"></script>
    {% endcompress %}

</head>

<body {% block bodyattrs %}{% endblock %}>
    <a href='#mainmenu' aria-label='Main Menu'></a>
    <a href='#maincontent' aria-label='Main Content'></a>
    <a href='#footermenu' aria-label='Footer Menu'></a>
    <header class="nav">
        <nav class='mobile-nav'>
            <a class="menu-toggle"><i class="fa fa-bars" aria-hidden="true"></i></a>
        </nav>
        <nav id='mainmenu'>
            <a href='{% url 'home' %}' class='home-page'>
              <img
              alt='CDH Logo'
              src='{% static "img/CDH_logo.svg" %}' />
            </a>
            {% page_menu "snippets/primary_navigation.html" %}
        </nav>
    </header>
    {% include 'snippets/test_banner.html' %}

  </div>
</div>
    {% block content %}
        {% block content-header %}
        {% endblock %}
    <div id='maincontent'>
        {% block main %}{% endblock %}
    </div>

    {% if page.attachments.exists %}
        {% include 'snippets/attachments.html' with attachments=page.attachments.all %}
    {% endif %}

        {% block content-footer %}
        {% endblock %}
    {% endblock content %}

    <footer>
        <section class="footer-menu">
            {% page_menu "snippets/footer_menu.html" %}
        </section>

        <section class="contact" typeof="schema:Organization">
        {# RDFa markup for organization and address #}

            <div class='contact-info'>
                <span property="schema:name">Center for Digital Humanities</span><br />
                <span property="schema:address" typeof="schema:PostalAddress">
                <span property="schema:streetAddress">Firestone Library Floor B<br />
                Princeton University</span><br />
                <span property="schema:addressLocality">Princeton</span>, <span property="schema:addressRegion">NJ</span> <span property="schema:postalCode">08544</span><br />
                </span>

                <meta property="schema:alternateName" content="Center for Digital Humanities @ Princeton University" />
                <meta property="schema:alternateName" content="CDH @ Princeton University" />
                <meta property="schema:url" content="{% fullurl 'home' %}"/>

                <meta property="schema:logo" content='{% fullstatic "img/CDH_logo.svg" %}' />
                <meta property="schema:logo" content='{% fullstatic "img/CDH_logo.svg" %}' />
            </div>

            <div class="copyright">
                ©2017 Trustees of <span property="schema:parentOrganization" typeof="schema:Organization">
                <a href="https://www.princeton.edu" property="schema:url"><span property="schema:name">Princeton University</span></a></span>
            </div>

            {# social links #}
            <div class="social">
                <ul>
                <li><a href='https://www.facebook.com/princetoncdh/' property="schema:sameAs"><span class='fa fa-facebook-square'
                    aria-label='CDH Facebook Link'></span></a>
                    <a href='https://twitter.com/PrincetonDH' property="schema:sameAs"><span class='fa fa-twitter'
                     aria-label='CDH Twitter Link'></span></a>
                </li>
                </ul>

            </div>

            <div class="sw-version">v. {{ SW_VERSION }}</div>
        </section>

    </footer>


</body>

</html>
