{% load static wagtailuserbar wagtailcore_tags wagtailimages_tags core_tags %}
<!DOCTYPE html>

<html class="no-js{% if settings.cdhpages.PurpleMode.purple_mode %} purple-mode{% endif %}" lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% block title %}{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}{% endblock %}{% block title_suffix %}{% endblock %} – CDH@Princeton</title>
    
    {% include "includes/favicons.html" %}
    {% include "snippets/head_meta.html" %}

    <script type="text/javascript"> window.staticRoot = "{% static 'dist/' %}"; </script>

    <script>
      document.documentElement.classList.remove('no-js');
      document.documentElement.classList.add('js');
    </script>

    {% block extra_css %}
      {# Needed for specific cases #}
    {% endblock %}

    <script defer src="{% static 'dist/main.js' %}"></script>
    <link href="{% static 'dist/styles.css' %}" rel="stylesheet">

  </head>
  <body class="{% block body_class %}{% endblock %}">
    
    <a class="skip-link" href="#content">
      Skip to content
    </a>

    {% include "includes/header.html" %}

    <main id="content">
      {% block main %}{% endblock %}
    </main>

    {% if GOOGLE_TAG_MANAGER %}
        <!-- Google Tag Manager -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id={{ GOOGLE_TAG_MANAGER }}"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','{{ GOOGLE_TAG_MANAGER }}');</script>
        <!-- End Google Tag Manager -->
    {% endif %}
    {# Feel free to drop the bar if not necessary #}
    {% wagtailuserbar %}

    {% block extra_js %}
      {# Needed for specific cases #}
    {% endblock %}

    {% if GOOGLE_ANALYTICS_KEY %}
      <!-- Google Analytics -->
      <script>
       window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
       ga('create','{{ GOOGLE_ANALYTICS_KEY }}','auto');ga('send','pageview')
      </script>
      <script src="https://www.google-analytics.com/analytics.js" async defer></script>
      <!-- End Google Analytics -->
    {% endif %}
    {% if SENTRY_DSN_FED %}
      <script>Raven.config('{{ SENTRY_DSN_FED }}').install()</script>
    {% endif %}

    {% if request %}{# skip for 500 error template #}
    {% site_footer %}
    {% endif %}
  </body>
</html>
