.sr-only {
  @include visuallyHidden;
}

.sr-only-until-focused {
  opacity: 0;
  position: absolute;
  background-color: var(--color-brand-100);
  color: var(--color-black);
  padding: 4px 8px;
  z-index: 2; // ensure not obscured, e.g. by project filters

  &:focus {
    opacity: 1;
  }
}

.u-hidden {
  display: none !important;
}

.u-no-js-hide {
  @include no-js-hide;
}

.u-js-hide {
  @include js-hide;
}
