/*
* Legal Disclaimer
* These Fonts are licensed only for use on these domains and their subdomains:
* cdh.princeton.edu
* It is illegal to download or use them on other websites.
* While the @font-face statements below may be modified by the client, this
* disclaimer may not be removed.
* Lineto.com, 2015
*/
@font-face {
    font-family: "BrownStdBold";
    font-style: normal;
    font-weight: bold;
    src: url("https://cdh.princeton.edu/static/fonts/lineto-brown-bold.woff") format("woff");
}

@font-face {
    font-family: "BrownStdRegular";
    font-style: normal;
    font-weight: normal;
    src: url("https://cdh.princeton.edu/static/fonts/lineto-brown-regular.woff") format("woff");
}

/*
* This font software is the property of Commercial Type.
* You may not modify the font software, use it on another website, or install it on a computer.
* License information is available at http://commercialtype.com/eula
* For more information please visit Commercial Type at http://commercialtype.com or email us at info[at]commercialtype.com
* Copyright (C) 2016 Schwartzco Inc.
* License: 1609-SCGHHO
*/
@font-face {
    font-family: "Lyon Text Web";
    font-style: normal;
    font-weight: normal;
    src: url("https://cdh.princeton.edu/static/fonts/LyonText-Regular-Web.woff2") format("woff2");
}