
body.purple-mode {
    /* override colors */
    $purple: #9A81BA;
    $dark-purple: #533F73;
    $light-purple: tint($purple, 85%);

    --highlight-color: #9A81BA;
    --highlight-color-rgb: #{hexToRGB(#9A81BA)};
    --light-highlight-color: rgba(var(--highlight-color-rgb), 0.2);

    .projects > h1, .projects > h2,
    .events > h2, .events > h1,
    .people > h1, .people > h2,
    .blogposts > h1,
    .card.attachment a::after,
    header.nav nav a.home-page img,
    .project-detail .links li.website a,
    .event-detail .details .ical::before,
    footer section.subscribe form  {
        /* image filter to convert cdh blue in icons to purple */
        filter: hue-rotate(73deg) saturate(90%) grayscale(30%);
    }

    /* override elements that use dark variant color
      (currently cannot be set via css var)  */

    /* override elments that use dark-blue-gradient mixin */
    article.landing-page header.no-background,
    .card.profile {
        /* fallback background gradient for pages without an image */
        background: $dark-purple; /* For browsers that do not support gradients */
        background: linear-gradient($dark-purple, transparent);
    }


}
