// Container that handles its own gutters and padding while respecting the max width of its content

@mixin content-width {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--page-gutter);
  padding-left: var(--page-gutter);
  max-width: calc(var(--content-max-width) + var(--page-gutter) * 2);
}
