{% load wagtailcore_tags %}

<div data-component="accordion" class="sk-accordion">
  {% for item in self.accordion_items %}
    <details>
      <summary>
        {{ item.heading }}
        {% include 'includes/svg.html' with sprite="two-tone" svg="chevron-up" classes="sk-accordion__chevron-up" %}
        {% include 'includes/svg.html' with sprite="two-tone" svg="chevron-down" classes="sk-accordion__chevron-down" %}
      </summary>
      <div class="sk-accordion__content rich-text">
        {{ item.body|richtext }}
      </div>
    </details>
  {% endfor %}
</div>
