{% load wagtailcore_tags wagtailimages_tags %}
{% image self.image width-400 as img_base %}
<div class="feature">
    <div class="feature__text-content">
      <h2>{{ self.heading }}</h2>
      {{ self.feature_text|richtext }}
      {% if self.cta_buttons %}
        {% include_block self.cta_buttons %}
      {% endif %}
    </div>

    {% image self.image width-750 as img_base %}
    {% image self.image width-1200 as img_sm %}
    {% image self.image width-1400 as img_md %}

    <picture class="feature__img">
      <source srcset="{{ img_sm.url }}" media="(min-width: 500px)">
      <source srcset="{{ img_md.url }}" media="(min-width: 768px)">
      <img 
        src="{{ img_base.url }}" 
        alt="{{ self.alt_text|default:img_base.alt }}"
        loading="lazy"
    />
  </picture>
</div>
